## MY ASSESMENT TOPIC:
### Analysis of the Increase or Decrease in the Construction Producer Prices According to the Number of Employment and Building Permits on a Yearly Basis considering IE, UK, TR, and EU.

## First Dataset 
### Building Permits - Annual Data BY EUROSTAT

In [32]:
# 2023034 - MAHMUT ZAHID MALKOC
import numpy as np
import pandas as pd
from pyjstat import pyjstat

# Building permits - m2 of useful floor area - Index, 2015=100
BuildingsPermits = pd.read_csv('BuildingsPermits.csv')
BuildingsPermits

,DATAFLOW,LAST UPDATE,freq,indic_bt,cpa2_1,s_adj,unit,geo,TIME_PERIOD,OBS_VALUE
0,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1992,NaN
1,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1993,NaN
2,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1994,NaN
3,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1995,NaN
4,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1996,NaN
...,...,...,...,...,...,...,...,...,...,...
1173,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2018,103.5
1174,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2019,96.5
1175,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2020,NaN
1176,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2021,NaN
1177,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2022,NaN

In [33]:
# 2023034 - MAHMUT ZAHID MALKOC
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
BuildingsPermits = BuildingsPermits[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
BuildingsPermits

                 geo  TIME_PERIOD  OBS_VALUE
0            Albania         1992        NaN
1            Albania         1993        NaN
2            Albania         1994        NaN
3            Albania         1995        NaN
4            Albania         1996        NaN
...              ...          ...        ...
1173  United Kingdom         2018      103.5
1174  United Kingdom         2019       96.5
1175  United Kingdom         2020        NaN
1176  United Kingdom         2021        NaN
1177  United Kingdom         2022        NaN

[1178 rows x 3 columns]

In [34]:
# 2023034 - MAHMUT ZAHID MALKOC
# Column names are changed
BuildingsPermits = BuildingsPermits.rename(columns={'geo': 'Country', 'TIME_PERIOD': 'Year', 'OBS_VALUE': 'Value'})
BuildingsPermits

             Country  Year  Value
0            Albania  1992    NaN
1            Albania  1993    NaN
2            Albania  1994    NaN
3            Albania  1995    NaN
4            Albania  1996    NaN
...              ...   ...    ...
1173  United Kingdom  2018  103.5
1174  United Kingdom  2019   96.5
1175  United Kingdom  2020    NaN
1176  United Kingdom  2021    NaN
1177  United Kingdom  2022    NaN

[1178 rows x 3 columns]

In [35]:
# 2023034 - MAHMUT ZAHID MALKOC
# Choosen the all countries
countries = BuildingsPermits['Country'].unique()
list(countries)

['Albania',
 'Austria',
 'Bosnia and Herzegovina',
 'Belgium',
 'Bulgaria',
 'Cyprus',
 'Czechia',
 'Germany (until 1990 former territory of the FRG)',
 'Denmark',
 'Euro area - 19 countries  (2015-2022)',
 'Euro area â€“ 20 countries (from 2023)',
 'Estonia',
 'Greece',
 'Spain',
 'European Union - 27 countries (from 2020)',
 'Finland',
 'France',
 'Croatia',
 'Hungary',
 'Ireland',
 'Italy',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Montenegro',
 'North Macedonia',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Sweden',
 'Slovenia',
 'Slovakia',
 'TÃ¼rkiye',
 'United Kingdom']

In [36]:
# 2023034 - MAHMUT ZAHID MALKOC
# Related Countries are selected
countries = ['European Union - 27 countries (from 2020)','Ireland','United Kingdom','TÃ¼rkiye']
BuildingsPermits = BuildingsPermits[BuildingsPermits['Country'].isin(countries)]
BuildingsPermits

                                        Country  Year  Value
434   European Union - 27 countries (from 2020)  1992    NaN
435   European Union - 27 countries (from 2020)  1993    NaN
436   European Union - 27 countries (from 2020)  1994    NaN
437   European Union - 27 countries (from 2020)  1995    NaN
438   European Union - 27 countries (from 2020)  1996    NaN
...                                         ...   ...    ...
1173                             United Kingdom  2018  103.5
1174                             United Kingdom  2019   96.5
1175                             United Kingdom  2020    NaN
1176                             United Kingdom  2021    NaN
1177                             United Kingdom  2022    NaN

[124 rows x 3 columns]

In [37]:
# 2023034 - MAHMUT ZAHID MALKOC
# How many countries do we have?
unique_countries = BuildingsPermits['Country'].unique()
num_countries = len(unique_countries)
num_countries

4

In [38]:
# 2023034 - MAHMUT ZAHID MALKOC
# Values in European Union by years
eu_data = BuildingsPermits[BuildingsPermits['Country'] == 'European Union - 27 countries (from 2020)']
eu_data = eu_data[['Year', 'Value']].set_index('Year').rename(columns={'Value': 'European Union'})
eu_data

      European Union
Year
1992             NaN
1993             NaN
1994             NaN
1995             NaN
1996             NaN
1997             NaN
1998             NaN
1999             NaN
2000             NaN
2001             NaN
2002             NaN
2003             NaN
2004             NaN
2005           263.6
2006           294.3
2007           275.9
2008           202.4
2009           146.9
2010           131.3
2011           129.2
2012           113.0
2013            99.1
2014            95.0
2015           100.0
2016           113.6
2017           123.6
2018           129.2
2019           128.8
2020           114.8
2021           133.5
2022           131.6

In [39]:
# 2023034 - MAHMUT ZAHID MALKOC
for country in countries:
    if country == 'European Union - 27 countries (from 2020)':
        continue
    country_data = BuildingsPermits[BuildingsPermits['Country'] == country][['Year', 'Value']].set_index('Year').rename(columns={'Value': country})
    eu_data = eu_data.merge(country_data, how='outer', left_index=True, right_index=True)
eu_data

      European Union  Ireland  United Kingdom  TÃ¼rkiye
Year
1992             NaN      NaN             NaN     42.6
1993             NaN      NaN             NaN     49.6
1994             NaN      NaN             NaN     47.6
1995             NaN      NaN             NaN     49.0
1996             NaN      NaN             NaN     45.9
1997             NaN      NaN             NaN     48.8
1998             NaN      NaN           118.9     46.1
1999             NaN      NaN           116.6     36.8
2000             NaN    394.0           114.1     36.1
2001             NaN    365.0           115.7     33.8
2002             NaN    322.4           113.4     21.5
2003             NaN    341.3           117.3     26.9
2004             NaN    429.6           125.6     40.7
2005           263.6    456.6           120.8     61.8
2006           294.3    436.3           120.6     71.0
2007           275.9    542.2           128.1     72.4
2008           202.4    377.8           103.6     57.8
2009           146.9    226.5            91.2     56.0
2010           131.3    110.5            87.1     97.5
2011           129.2     83.5            85.7     67.3
2012           113.0     61.3            88.8     86.2
2013            99.1     65.7            78.9     95.5
2014            95.0     61.3            90.5    119.3
2015           100.0    100.0           100.0    100.0
2016           113.6    115.9           102.1    107.1
2017           123.6    126.0           101.9    145.7
2018           129.2    162.6           103.5     79.0
2019           128.8    184.1            96.5     39.0
2020           114.8    181.8             NaN     59.0
2021           133.5    191.6             NaN     79.2
2022           131.6    158.9             NaN     71.6

In [47]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits = eu_data.rename(columns={"European Union": "EU",
                                            "Ireland": "IE",
                                            "United Kingdom": "UK",
                                            "TÃ¼rkiye": "TR",})
BuildingsPermits

         EU     IE     UK     TR
Year
1992    NaN    NaN    NaN   42.6
1993    NaN    NaN    NaN   49.6
1994    NaN    NaN    NaN   47.6
1995    NaN    NaN    NaN   49.0
1996    NaN    NaN    NaN   45.9
1997    NaN    NaN    NaN   48.8
1998    NaN    NaN  118.9   46.1
1999    NaN    NaN  116.6   36.8
2000    NaN  394.0  114.1   36.1
2001    NaN  365.0  115.7   33.8
2002    NaN  322.4  113.4   21.5
2003    NaN  341.3  117.3   26.9
2004    NaN  429.6  125.6   40.7
2005  263.6  456.6  120.8   61.8
2006  294.3  436.3  120.6   71.0
2007  275.9  542.2  128.1   72.4
2008  202.4  377.8  103.6   57.8
2009  146.9  226.5   91.2   56.0
2010  131.3  110.5   87.1   97.5
2011  129.2   83.5   85.7   67.3
2012  113.0   61.3   88.8   86.2
2013   99.1   65.7   78.9   95.5
2014   95.0   61.3   90.5  119.3
2015  100.0  100.0  100.0  100.0
2016  113.6  115.9  102.1  107.1
2017  123.6  126.0  101.9  145.7
2018  129.2  162.6  103.5   79.0
2019  128.8  184.1   96.5   39.0
2020  114.8  181.8    NaN   59.0
2021  133.5  191.6    NaN   79.2
2022  131.6  158.9    NaN   71.6

In [48]:
BuildingsPermits.reset_index(inplace=True)
BuildingsPermits

    Year     EU     IE     UK     TR
0   1992    NaN    NaN    NaN   42.6
1   1993    NaN    NaN    NaN   49.6
2   1994    NaN    NaN    NaN   47.6
3   1995    NaN    NaN    NaN   49.0
4   1996    NaN    NaN    NaN   45.9
5   1997    NaN    NaN    NaN   48.8
6   1998    NaN    NaN  118.9   46.1
7   1999    NaN    NaN  116.6   36.8
8   2000    NaN  394.0  114.1   36.1
9   2001    NaN  365.0  115.7   33.8
10  2002    NaN  322.4  113.4   21.5
11  2003    NaN  341.3  117.3   26.9
12  2004    NaN  429.6  125.6   40.7
13  2005  263.6  456.6  120.8   61.8
14  2006  294.3  436.3  120.6   71.0
15  2007  275.9  542.2  128.1   72.4
16  2008  202.4  377.8  103.6   57.8
17  2009  146.9  226.5   91.2   56.0
18  2010  131.3  110.5   87.1   97.5
19  2011  129.2   83.5   85.7   67.3
20  2012  113.0   61.3   88.8   86.2
21  2013   99.1   65.7   78.9   95.5
22  2014   95.0   61.3   90.5  119.3
23  2015  100.0  100.0  100.0  100.0
24  2016  113.6  115.9  102.1  107.1
25  2017  123.6  126.0  101.9  145.7
26  2018  129.2  162.6  103.5   79.0
27  2019  128.8  184.1   96.5   39.0
28  2020  114.8  181.8    NaN   59.0
29  2021  133.5  191.6    NaN   79.2
30  2022  131.6  158.9    NaN   71.6

## Second Dataset
### Labour Input In Construction - Employment Number of Persons - Annual Data BY EUROSTAT

In [205]:
# 2023034 - MAHMUT ZAHID MALKOC
import numpy as np
import pandas as pd

EmploymentNumberOfPersons = pd.read_excel('LabourInputInConstruction-EmploymentNumberOfPersons.xlsx')
EmploymentNumberOfPersons

,GEO (Labels),1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.8,100.7,100,100.7,102.8,106.4,109.6,110.4,113.0,115.7
1,European Union - 28 countries (2013-2020),NaN,NaN,NaN,NaN,NaN,NaN,104.5,107.0,111.6,...,101.7,100.2,100,100.9,103.3,106.3,109.1,NaN,NaN,NaN
2,Euro area â€“ 20 countries (from 2023),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.7,100.8,100,100.5,102.6,105.9,108.5,109.2,112.4,115.3
3,Euro area - 19 countries (2015-2022),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.2,...,102.7,100.8,100,100.5,102.6,105.9,108.4,109.0,112.2,115.1
4,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.0,100.6,100,101.4,103.6,106.4,109.2,108.0,112.6,NaN
5,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.9,101.8,100,95.8,99.4,100.2,103.2,101.5,93.5,90.2
6,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,98.2,100,97.3,98.6,100.0,101.8,102.3,98.0,96.7
7,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.3,96.8,100,103.9,107.8,112.1,114.2,117.7,122.9,126.8
8,Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.8,100.2,100,101.4,103.7,105.8,107.7,109.1,110.7,111.5
9,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.9,...,96.7,93.8,100,98.8,105.1,110.4,114.3,108.5,114.9,121.1
10,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.3,85.2,100,114.2,123.6,138.6,146.0,139.1,143.4,169.7
11,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,132.6,100,118.6,124.3,131.2,105.4,95.1,79.7,77.0
12,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.9,92.5,100,100.0,105.1,113.8,119.0,115.9,120.3,123.1
13,France,104.7,103.9,100.3,94.7,93.0,92.9,89.9,87.9,87.9,...,106.1,103.6,100,98.9,99.7,101.9,105.6,108.9,113.4,115.1
14,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.9,100.4,100,98.8,102.3,107.6,115.3,123.1,128.9,129.3
15,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.4,103.3,100,99.7,98.2,98.3,99.3,101.6,108.0,116.3
16,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.7,100.5,100,108.0,124.2,141.5,155.1,161.0,164.4,168.6
17,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.1,102.2,100,92.9,96.9,104.1,108.0,104.6,104.8,100.2
18,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.2,...,90.5,95.4,100,95.3,96.9,101.1,103.0,101.8,103.8,101.1
19,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.1,100.4,100,101.6,104.8,107.1,109.7,106.1,106.4,106.5
20,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.9,98.8,100,103.5,107.3,117.1,139.2,137.0,145.0,152.0
21,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.2,90.8,100,101.4,86.0,85.1,90.3,95.0,95.2,96.1
22,Netherlands,NaN,NaN,NaN,NaN,NaN,125.8,127.4,130.8,133.7,...,108.1,101.9,100,99.7,102.7,106.3,109.9,112.1,114.7,NaN
23,Austria,NaN,NaN,NaN,NaN,NaN,NaN,101.2,100.2,108.5,...,103.0,101.4,100,100.3,103.1,107.7,113.2,115.1,119.5,122.2
24,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.5,106.0,100,99.1,101.3,105.7,111.0,111.4,110.8,111.7
25,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.2,104.3,100,96.0,97.7,99.9,102.1,101.8,103.6,105.7
26,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.8,94.6,100,105.0,104.1,110.6,116.3,120.2,126.4,129.5
27,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,99.4,100,99.2,102.6,107.5,117.6,120.5,125.8,135.6
28,Slovakia,NaN,NaN,NaN,NaN,NaN,98.5,96.1,96.2,97.2,...,102.0,100.8,100,101.2,103.7,107.2,114.1,107.3,103.2,105.1
29,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.5,100.1,100,105.0,110.3,116.3,112.8,112.8,109.3,106.2
30,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,96.5,100,105.4,109.2,114.9,117.7,119.0,121.3,125.2
31,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.3,91.1,100,117.0,136.8,150.5,153.9,142.6,150.1,168.7
32,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,97.7,100,102.7,107.0,110.8,114.2,113.9,114.7,119.9
33,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.6,...,98.8,99.7,100,99.8,100.4,101.6,103.2,103.2,103.6,105.8
34,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,78.6,86.0,94.4,...,93.0,96.4,100,102.7,108.4,108.7,111.8,NaN,NaN,NaN
35,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,97.0,100,108.8,115.3,129.6,150.9,119.7,136.4,167.7
36,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.4,90.6,100,107.3,104.1,99.0,89.1,86.2,87.0,81.0
37,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.6,89.8,100,106.2,109.2,113.5,115.8,118.9,123.0,126.8
38,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.3,100.9,100,100.0,101.2,109.3,119.9,130.8,137.1,139.5
39,TÃ¼rkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.7,94.0,100,104.4,108.8,106.5,79.0,79.6,94.4,94.9

In [206]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons.set_index('GEO (Labels)', inplace = True)
EmploymentNumberOfPersons

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
GEO (Labels),,,,,,,,,,,,,,,,,,,,,
European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.8,100.7,100,100.7,102.8,106.4,109.6,110.4,113.0,115.7
European Union - 28 countries (2013-2020),NaN,NaN,NaN,NaN,NaN,NaN,104.5,107.0,111.6,112.6,...,101.7,100.2,100,100.9,103.3,106.3,109.1,NaN,NaN,NaN
Euro area â€“ 20 countries (from 2023),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.7,100.8,100,100.5,102.6,105.9,108.5,109.2,112.4,115.3
Euro area - 19 countries (2015-2022),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.2,118.7,...,102.7,100.8,100,100.5,102.6,105.9,108.4,109.0,112.2,115.1
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.0,100.6,100,101.4,103.6,106.4,109.2,108.0,112.6,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.9,101.8,100,95.8,99.4,100.2,103.2,101.5,93.5,90.2
Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,98.2,100,97.3,98.6,100.0,101.8,102.3,98.0,96.7
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.3,96.8,100,103.9,107.8,112.1,114.2,117.7,122.9,126.8
Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.8,100.2,100,101.4,103.7,105.8,107.7,109.1,110.7,111.5
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.9,74.7,...,96.7,93.8,100,98.8,105.1,110.4,114.3,108.5,114.9,121.1
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.3,85.2,100,114.2,123.6,138.6,146.0,139.1,143.4,169.7
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,132.6,100,118.6,124.3,131.2,105.4,95.1,79.7,77.0
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.9,92.5,100,100.0,105.1,113.8,119.0,115.9,120.3,123.1
France,104.7,103.9,100.3,94.7,93.0,92.9,89.9,87.9,87.9,89.7,...,106.1,103.6,100,98.9,99.7,101.9,105.6,108.9,113.4,115.1
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.9,100.4,100,98.8,102.3,107.6,115.3,123.1,128.9,129.3
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.4,103.3,100,99.7,98.2,98.3,99.3,101.6,108.0,116.3
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.7,100.5,100,108.0,124.2,141.5,155.1,161.0,164.4,168.6
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.1,102.2,100,92.9,96.9,104.1,108.0,104.6,104.8,100.2
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.2,83.1,...,90.5,95.4,100,95.3,96.9,101.1,103.0,101.8,103.8,101.1
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.1,100.4,100,101.6,104.8,107.1,109.7,106.1,106.4,106.5
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.9,98.8,100,103.5,107.3,117.1,139.2,137.0,145.0,152.0
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.2,90.8,100,101.4,86.0,85.1,90.3,95.0,95.2,96.1
Netherlands,NaN,NaN,NaN,NaN,NaN,125.8,127.4,130.8,133.7,137.9,...,108.1,101.9,100,99.7,102.7,106.3,109.9,112.1,114.7,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,101.2,100.2,108.5,103.8,...,103.0,101.4,100,100.3,103.1,107.7,113.2,115.1,119.5,122.2
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.5,106.0,100,99.1,101.3,105.7,111.0,111.4,110.8,111.7
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.2,104.3,100,96.0,97.7,99.9,102.1,101.8,103.6,105.7
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.8,94.6,100,105.0,104.1,110.6,116.3,120.2,126.4,129.5
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,99.4,100,99.2,102.6,107.5,117.6,120.5,125.8,135.6
Slovakia,NaN,NaN,NaN,NaN,NaN,98.5,96.1,96.2,97.2,88.0,...,102.0,100.8,100,101.2,103.7,107.2,114.1,107.3,103.2,105.1
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.5,100.1,100,105.0,110.3,116.3,112.8,112.8,109.3,106.2
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,96.5,100,105.4,109.2,114.9,117.7,119.0,121.3,125.2
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.3,91.1,100,117.0,136.8,150.5,153.9,142.6,150.1,168.7
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,97.7,100,102.7,107.0,110.8,114.2,113.9,114.7,119.9
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.6,83.6,...,98.8,99.7,100,99.8,100.4,101.6,103.2,103.2,103.6,105.8
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,78.6,86.0,94.4,95.9,...,93.0,96.4,100,102.7,108.4,108.7,111.8,NaN,NaN,NaN
Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,97.0,100,108.8,115.3,129.6,150.9,119.7,136.4,167.7
North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.4,90.6,100,107.3,104.1,99.0,89.1,86.2,87.0,81.0
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.6,89.8,100,106.2,109.2,113.5,115.8,118.9,123.0,126.8
Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.3,100.9,100,100.0,101.2,109.3,119.9,130.8,137.1,139.5
TÃ¼rkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.7,94.0,100,104.4,108.8,106.5,79.0,79.6,94.4,94.9

In [207]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.T
EmploymentNumberOfPersons

GEO (Labels),European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area â€“ 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),Estonia,...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,TÃ¼rkiye
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,78.9,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,74.7,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,74.2,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,71.7,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,77.1,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,79.9,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,85.4,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,92.8,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,106.8,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,124.4,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,125.0,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,105.0,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,85.8,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,86.0,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,96.3,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,96.7,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,93.8,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,98.8,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,105.1,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,110.4,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,114.3,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,108.5,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,114.9,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,121.1,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [208]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.reset_index()
EmploymentNumberOfPersons

GEO (Labels),index,European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area â€“ 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,TÃ¼rkiye
0,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
7,1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
8,1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
9,1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
10,2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
11,2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
12,2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
13,2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
14,2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
15,2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
16,2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
17,2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
18,2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
19,2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
20,2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
21,2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
22,2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
23,2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
24,2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
25,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
26,2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
27,2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
28,2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
29,2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
30,2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
31,2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
32,2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [209]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.rename(columns={"index": "Year"})
EmploymentNumberOfPersons

GEO (Labels),Year,European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area â€“ 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,TÃ¼rkiye
0,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
7,1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
8,1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
9,1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
10,2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
11,2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
12,2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
13,2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
14,2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
15,2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
16,2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
17,2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
18,2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
19,2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
20,2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
21,2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
22,2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
23,2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
24,2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
25,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
26,2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
27,2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
28,2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
29,2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
30,2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
31,2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
32,2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [210]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons.set_index('Year', inplace = True)
EmploymentNumberOfPersons

GEO (Labels),European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area â€“ 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),Estonia,...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,TÃ¼rkiye
Year,,,,,,,,,,,,,,,,,,,,,
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,78.9,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,74.7,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,74.2,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,71.7,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,77.1,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,79.9,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,85.4,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,92.8,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,106.8,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,124.4,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,125.0,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,105.0,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,85.8,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,86.0,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,96.3,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,96.7,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,93.8,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,98.8,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,105.1,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,110.4,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,114.3,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,108.5,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,114.9,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,121.1,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [211]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons[['European Union - 27 countries (from 2020)', 'Ireland', 'United Kingdom','TÃ¼rkiye']]
EmploymentNumberOfPersons

GEO (Labels),European Union - 27 countries (from 2020),Ireland,United Kingdom,TÃ¼rkiye
Year,,,,
1990,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN
1996,NaN,NaN,78.6,NaN
1997,NaN,NaN,86.0,NaN
1998,NaN,NaN,94.4,NaN
1999,NaN,NaN,95.9,NaN
2000,117.5,120.1,99.3,NaN
2001,117.2,129.3,100.2,NaN
2002,115.8,131.7,98.8,NaN
2003,115.0,137.2,99.0,NaN
2004,115.3,151.1,101.5,NaN
2005,118.3,174.0,105.8,138.4
2006,122.5,192.1,110.0,159.5
2007,128.3,199.6,110.5,160.0
2008,128.4,182.5,110.4,151.4
2009,119.5,124.8,107.0,49.4
2010,113.9,89.1,96.5,58.2
2011,111.3,82.1,94.3,70.4
2012,107.7,76.0,92.9,81.4
2013,102.8,76.3,93.0,88.7
2014,100.7,85.2,96.4,94.0
2015,100.0,100.0,100.0,100.0
2016,100.7,114.2,102.7,104.4
2017,102.8,123.6,108.4,108.8
2018,106.4,138.6,108.7,106.5
2019,109.6,146.0,111.8,79.0
2020,110.4,139.1,NaN,79.6
2021,113.0,143.4,NaN,94.4
2022,115.7,169.7,NaN,94.9

In [212]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.rename(columns={"European Union - 27 countries (from 2020)": "EU",
                                                                        "Ireland": "IE",
                                                                        "United Kingdom": "UK",
                                                                        "TÃ¼rkiye": "TR",})
EmploymentNumberOfPersons

GEO (Labels)     EU     IE     UK     TR
Year
1990            NaN    NaN    NaN    NaN
1991            NaN    NaN    NaN    NaN
1992            NaN    NaN    NaN    NaN
1993            NaN    NaN    NaN    NaN
1994            NaN    NaN    NaN    NaN
1995            NaN    NaN    NaN    NaN
1996            NaN    NaN   78.6    NaN
1997            NaN    NaN   86.0    NaN
1998            NaN    NaN   94.4    NaN
1999            NaN    NaN   95.9    NaN
2000          117.5  120.1   99.3    NaN
2001          117.2  129.3  100.2    NaN
2002          115.8  131.7   98.8    NaN
2003          115.0  137.2   99.0    NaN
2004          115.3  151.1  101.5    NaN
2005          118.3  174.0  105.8  138.4
2006          122.5  192.1  110.0  159.5
2007          128.3  199.6  110.5  160.0
2008          128.4  182.5  110.4  151.4
2009          119.5  124.8  107.0   49.4
2010          113.9   89.1   96.5   58.2
2011          111.3   82.1   94.3   70.4
2012          107.7   76.0   92.9   81.4
2013          102.8   76.3   93.0   88.7
2014          100.7   85.2   96.4   94.0
2015          100.0  100.0  100.0  100.0
2016          100.7  114.2  102.7  104.4
2017          102.8  123.6  108.4  108.8
2018          106.4  138.6  108.7  106.5
2019          109.6  146.0  111.8   79.0
2020          110.4  139.1    NaN   79.6
2021          113.0  143.4    NaN   94.4
2022          115.7  169.7    NaN   94.9

In [213]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.reset_index()
EmploymentNumberOfPersons

GEO (Labels)  Year     EU     IE     UK     TR
0             1990    NaN    NaN    NaN    NaN
1             1991    NaN    NaN    NaN    NaN
2             1992    NaN    NaN    NaN    NaN
3             1993    NaN    NaN    NaN    NaN
4             1994    NaN    NaN    NaN    NaN
5             1995    NaN    NaN    NaN    NaN
6             1996    NaN    NaN   78.6    NaN
7             1997    NaN    NaN   86.0    NaN
8             1998    NaN    NaN   94.4    NaN
9             1999    NaN    NaN   95.9    NaN
10            2000  117.5  120.1   99.3    NaN
11            2001  117.2  129.3  100.2    NaN
12            2002  115.8  131.7   98.8    NaN
13            2003  115.0  137.2   99.0    NaN
14            2004  115.3  151.1  101.5    NaN
15            2005  118.3  174.0  105.8  138.4
16            2006  122.5  192.1  110.0  159.5
17            2007  128.3  199.6  110.5  160.0
18            2008  128.4  182.5  110.4  151.4
19            2009  119.5  124.8  107.0   49.4
20            2010  113.9   89.1   96.5   58.2
21            2011  111.3   82.1   94.3   70.4
22            2012  107.7   76.0   92.9   81.4
23            2013  102.8   76.3   93.0   88.7
24            2014  100.7   85.2   96.4   94.0
25            2015  100.0  100.0  100.0  100.0
26            2016  100.7  114.2  102.7  104.4
27            2017  102.8  123.6  108.4  108.8
28            2018  106.4  138.6  108.7  106.5
29            2019  109.6  146.0  111.8   79.0
30            2020  110.4  139.1    NaN   79.6
31            2021  113.0  143.4    NaN   94.4
32            2022  115.7  169.7    NaN   94.9

In [214]:
# 2023034 - MAHMUT ZAHID MALKOC
ENOP_list = EmploymentNumberOfPersons.values.tolist()
ENOP_list

[['1990', nan, nan, nan, nan],
 ['1991', nan, nan, nan, nan],
 ['1992', nan, nan, nan, nan],
 ['1993', nan, nan, nan, nan],
 ['1994', nan, nan, nan, nan],
 ['1995', nan, nan, nan, nan],
 ['1996', nan, nan, 78.6, nan],
 ['1997', nan, nan, 86.0, nan],
 ['1998', nan, nan, 94.4, nan],
 ['1999', nan, nan, 95.9, nan],
 ['2000', 117.5, 120.1, 99.3, nan],
 ['2001', 117.2, 129.3, 100.2, nan],
 ['2002', 115.8, 131.7, 98.8, nan],
 ['2003', 115.0, 137.2, 99.0, nan],
 ['2004', 115.3, 151.1, 101.5, nan],
 ['2005', 118.3, 174.0, 105.8, 138.4],
 ['2006', 122.5, 192.1, 110.0, 159.5],
 ['2007', 128.3, 199.6, 110.5, 160.0],
 ['2008', 128.4, 182.5, 110.4, 151.4],
 ['2009', 119.5, 124.8, 107.0, 49.4],
 ['2010', 113.9, 89.1, 96.5, 58.2],
 ['2011', 111.3, 82.1, 94.3, 70.4],
 ['2012', 107.7, 76.0, 92.9, 81.4],
 ['2013', 102.8, 76.3, 93.0, 88.7],
 ['2014', 100.7, 85.2, 96.4, 94.0],
 ['2015', 100.0, 100.0, 100.0, 100.0],
 ['2016', 100.7, 114.2, 102.7, 104.4],
 ['2017', 102.8, 123.6, 108.4, 108.8],
 ['2018', 106.4, 138.6, 108.7, 106.5],
 ['2019', 109.6, 146.0, 111.8, 79.0],
 ['2020', 110.4, 139.1, nan, 79.6],
 ['2021', 113.0, 143.4, nan, 94.4],
 ['2022', 115.7, 169.7, nan, 94.9]]

In [215]:
# 2023034 - MAHMUT ZAHID MALKOC
columns = ['Year', 'EU', 'IE', 'UK', 'TR']
EmploymentNumberOfPersons = pd.DataFrame(ENOP_list, columns=columns)
EmploymentNumberOfPersons

    Year     EU     IE     UK     TR
0   1990    NaN    NaN    NaN    NaN
1   1991    NaN    NaN    NaN    NaN
2   1992    NaN    NaN    NaN    NaN
3   1993    NaN    NaN    NaN    NaN
4   1994    NaN    NaN    NaN    NaN
5   1995    NaN    NaN    NaN    NaN
6   1996    NaN    NaN   78.6    NaN
7   1997    NaN    NaN   86.0    NaN
8   1998    NaN    NaN   94.4    NaN
9   1999    NaN    NaN   95.9    NaN
10  2000  117.5  120.1   99.3    NaN
11  2001  117.2  129.3  100.2    NaN
12  2002  115.8  131.7   98.8    NaN
13  2003  115.0  137.2   99.0    NaN
14  2004  115.3  151.1  101.5    NaN
15  2005  118.3  174.0  105.8  138.4
16  2006  122.5  192.1  110.0  159.5
17  2007  128.3  199.6  110.5  160.0
18  2008  128.4  182.5  110.4  151.4
19  2009  119.5  124.8  107.0   49.4
20  2010  113.9   89.1   96.5   58.2
21  2011  111.3   82.1   94.3   70.4
22  2012  107.7   76.0   92.9   81.4
23  2013  102.8   76.3   93.0   88.7
24  2014  100.7   85.2   96.4   94.0
25  2015  100.0  100.0  100.0  100.0
26  2016  100.7  114.2  102.7  104.4
27  2017  102.8  123.6  108.4  108.8
28  2018  106.4  138.6  108.7  106.5
29  2019  109.6  146.0  111.8   79.0
30  2020  110.4  139.1    NaN   79.6
31  2021  113.0  143.4    NaN   94.4
32  2022  115.7  169.7    NaN   94.9

## Third Dataset
### Construction Producer Prices or Costs, New Residential Buildings - Annual Data BY EUROSTAT

In [260]:
# 2023034 - MAHMUT ZAHID MALKOC
from pyjstat import pyjstat

# Construction Producer Prices or Costs, New Residential Buildings - Annual Data BY EUROSTAT
ConstructionProducePrice_URL = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/STS_COPI_A?format=JSON&lang=en&freq=A&indic_bt=CSTI&cpa2_1=CPA_F41001_X_410014&s_adj=NSA&unit=I15&geo=EU27_2020&geo=EA20&geo=EA19&geo=BE&geo=BG&geo=CZ&geo=DK&geo=DE&geo=EE&geo=IE&geo=EL&geo=ES&geo=FR&geo=HR&geo=IT&geo=CY&geo=LV&geo=LT&geo=LU&geo=HU&geo=MT&geo=NL&geo=AT&geo=PL&geo=PT&geo=RO&geo=SI&geo=SK&geo=FI&geo=SE&geo=NO&geo=CH&geo=UK&geo=BA&geo=ME&geo=MK&geo=AL&geo=TR&time=1954&time=1955&time=1956&time=1957&time=1958&time=1959&time=1960&time=1961&time=1962&time=1963&time=1964&time=1965&time=1966&time=1967&time=1968&time=1969&time=1970&time=1971&time=1972&time=1973&time=1974&time=1975&time=1976&time=1977&time=1978&time=1979&time=1980&time=1981&time=1982&time=1983&time=1984&time=1985&time=1986&time=1987&time=1988&time=1989&time=1990&time=1991&time=1992&time=1993&time=1994&time=1995&time=1996&time=1997&time=1998&time=1999&time=2000&time=2001&time=2002&time=2003&time=2004&time=2005&time=2006&time=2007&time=2008&time=2009&time=2010&time=2011&time=2012&time=2013&time=2014&time=2015&time=2016&time=2017&time=2018&time=2019&time=2020&time=2021&time=2022'

# read from json-stat
dataset = pyjstat.Dataset.read(ConstructionProducePrice_URL)

# write to dataframe
ConstructionProducePrice = dataset.write('dataframe')

# read from dataframe
dataset_from_ConstructionProducePrice = pyjstat.Dataset.read(ConstructionProducePrice)

ConstructionProducePrice

,Time frequency,Business trend indicator,Statistical Classification of Products by Activity (CPA 2.1),Seasonal adjustment,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1954,NaN
1,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1955,NaN
2,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1956,NaN
3,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1957,NaN
4,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1958,NaN
...,...,...,...,...,...,...,...,...
2617,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2018,161.4
2618,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2019,190.3
2619,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2020,214.8
2620,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2021,302.2
2621,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2022,603.3

In [261]:
# 2023034 - MAHMUT ZAHID MALKOC
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
ConstructionProducePrice = ConstructionProducePrice[['Geopolitical entity (reporting)', 'Time', 'value']]

# SeÃ§ilen sÃ¼tunlarÄ± ekrana yazdÄ±r
ConstructionProducePrice

                Geopolitical entity (reporting)  Time  value
0     European Union - 27 countries (from 2020)  1954    NaN
1     European Union - 27 countries (from 2020)  1955    NaN
2     European Union - 27 countries (from 2020)  1956    NaN
3     European Union - 27 countries (from 2020)  1957    NaN
4     European Union - 27 countries (from 2020)  1958    NaN
...                                         ...   ...    ...
2617                                    TÃ¼rkiye  2018  161.4
2618                                    TÃ¼rkiye  2019  190.3
2619                                    TÃ¼rkiye  2020  214.8
2620                                    TÃ¼rkiye  2021  302.2
2621                                    TÃ¼rkiye  2022  603.3

[2622 rows x 3 columns]

In [262]:
# 2023034 - MAHMUT ZAHID MALKOC
# column names are changed
ConstructionProducePrice = ConstructionProducePrice.rename(columns={'Geopolitical entity (reporting)': 'Country', 'Time': 'Year', 'value': 'Value'})
ConstructionProducePrice

                                        Country  Year  Value
0     European Union - 27 countries (from 2020)  1954    NaN
1     European Union - 27 countries (from 2020)  1955    NaN
2     European Union - 27 countries (from 2020)  1956    NaN
3     European Union - 27 countries (from 2020)  1957    NaN
4     European Union - 27 countries (from 2020)  1958    NaN
...                                         ...   ...    ...
2617                                    TÃ¼rkiye  2018  161.4
2618                                    TÃ¼rkiye  2019  190.3
2619                                    TÃ¼rkiye  2020  214.8
2620                                    TÃ¼rkiye  2021  302.2
2621                                    TÃ¼rkiye  2022  603.3

[2622 rows x 3 columns]

In [263]:
CPP_list = ConstructionProducePrice.values.tolist()
CPP_list

[['European Union - 27 countries (from 2020)', '1954', nan],
 ['European Union - 27 countries (from 2020)', '1955', nan],
 ['European Union - 27 countries (from 2020)', '1956', nan],
 ['European Union - 27 countries (from 2020)', '1957', nan],
 ['European Union - 27 countries (from 2020)', '1958', nan],
 ['European Union - 27 countries (from 2020)', '1959', nan],
 ['European Union - 27 countries (from 2020)', '1960', nan],
 ['European Union - 27 countries (from 2020)', '1961', nan],
 ['European Union - 27 countries (from 2020)', '1962', nan],
 ['European Union - 27 countries (from 2020)', '1963', nan],
 ['European Union - 27 countries (from 2020)', '1964', nan],
 ['European Union - 27 countries (from 2020)', '1965', nan],
 ['European Union - 27 countries (from 2020)', '1966', nan],
 ['European Union - 27 countries (from 2020)', '1967', nan],
 ['European Union - 27 countries (from 2020)', '1968', nan],
 ['European Union - 27 countries (from 2020)', '1969', nan],
 ['European Union - 27 countries (from 2020)', '1970', nan],
 ['European Union - 27 countries (from 2020)', '1971', nan],
 ['European Union - 27 countries (from 2020)', '1972', nan],
 ['European Union - 27 countries (from 2020)', '1973', nan],
 ['European Union - 27 countries (from 2020)', '1974', nan],
 ['European Union - 27 countries (from 2020)', '1975', nan],
 ['European Union - 27 countries (from 2020)', '1976', nan],
 ['European Union - 27 countries (from 2020)', '1977', nan],
 ['European Union - 27 countries (from 2020)', '1978', nan],
 ['European Union - 27 countries (from 2020)', '1979', nan],
 ['European Union - 27 countries (from 2020)', '1980', nan],
 ['European Union - 27 countries (from 2020)', '1981', nan],
 ['European Union - 27 countries (from 2020)', '1982', nan],
 ['European Union - 27 countries (from 2020)', '1983', nan],
 ['European Union - 27 countries (from 2020)', '1984', nan],
 ['European Union - 27 countries (from 2020)', '1985', nan],
 ['European Union - 27 countries (from 2020)', '1986', nan],
 ['European Union - 27 countries (from 2020)', '1987', nan],
 ['European Union - 27 countries (from 2020)', '1988', nan],
 ['European Union - 27 countries (from 2020)', '1989', nan],
 ['European Union - 27 countries (from 2020)', '1990', nan],
 ['European Union - 27 countries (from 2020)', '1991', nan],
 ['European Union - 27 countries (from 2020)', '1992', nan],
 ['European Union - 27 countries (from 2020)', '1993', nan],
 ['European Union - 27 countries (from 2020)', '1994', nan],
 ['European Union - 27 countries (from 2020)', '1995', nan],
 ['European Union - 27 countries (from 2020)', '1996', nan],
 ['European Union - 27 countries (from 2020)', '1997', nan],
 ['European Union - 27 countries (from 2020)', '1998', nan],
 ['European Union - 27 countries (from 2020)', '1999', nan],
 ['European Union - 27 countries (from 2020)', '2000', 71.0],
 ['European Union - 27 countries (from 2020)', '2001', 72.6],
 ['European Union - 27 countries (from 2020)', '2002', 74.3],
 ['European Union - 27 countries (from 2020)', '2003', 75.8],
 ['European Union - 27 countries (from 2020)', '2004', 78.5],
 ['European Union - 27 countries (from 2020)', '2005', 80.7],
 ['European Union - 27 countries (from 2020)', '2006', 83.7],
 ['European Union - 27 countries (from 2020)', '2007', 87.3],
 ['European Union - 27 countries (from 2020)', '2008', 91.0],
 ['European Union - 27 countries (from 2020)', '2009', 91.4],
 ['European Union - 27 countries (from 2020)', '2010', 93.1],
 ['European Union - 27 countries (from 2020)', '2011', 96.1],
 ['European Union - 27 countries (from 2020)', '2012', 97.9],
 ['European Union - 27 countries (from 2020)', '2013', 98.6],
 ['European Union - 27 countries (from 2020)', '2014', 99.2],
 ['European Union - 27 countries (from 2020)', '2015', 100.0],
 ['European Union - 27 countries (from 2020)', '2016', 100.8],
 ['European Union - 27 countries (from 2020)', '2017', 103.2],
 ['European Union - 27 countries (from 2020)', '2018', 106.1],
 ['European Union - 27 countries (from 2020)', '2019', 108.1],
 ['European Union - 27 countries (from 2020)', '2020', 109.1],
 ['European Union - 27 countries (from 2020)', '2021', 116.2],
 ['European Union - 27 countries (from 2020)', '2022', 130.8],
 ['Euro area â€“ 20 countries (from 2023)', '1954', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1955', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1956', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1957', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1958', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1959', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1960', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1961', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1962', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1963', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1964', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1965', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1966', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1967', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1968', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1969', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1970', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1971', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1972', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1973', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1974', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1975', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1976', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1977', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1978', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1979', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1980', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1981', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1982', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1983', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1984', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1985', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1986', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1987', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1988', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1989', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1990', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1991', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1992', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1993', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1994', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1995', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1996', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1997', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1998', nan],
 ['Euro area â€“ 20 countries (from 2023)', '1999', nan],
 ['Euro area â€“ 20 countries (from 2023)', '2000', 72.7],
 ['Euro area â€“ 20 countries (from 2023)', '2001', 74.0],
 ['Euro area â€“ 20 countries (from 2023)', '2002', 75.5],
 ['Euro area â€“ 20 countries (from 2023)', '2003', 77.0],
 ['Euro area â€“ 20 countries (from 2023)', '2004', 79.5],
 ['Euro area â€“ 20 countries (from 2023)', '2005', 81.6],
 ['Euro area â€“ 20 countries (from 2023)', '2006', 84.5],
 ['Euro area â€“ 20 countries (from 2023)', '2007', 87.9],
 ['Euro area â€“ 20 countries (from 2023)', '2008', 91.4],
 ['Euro area â€“ 20 countries (from 2023)', '2009', 91.8],
 ['Euro area â€“ 20 countries (from 2023)', '2010', 93.5],
 ['Euro area â€“ 20 countries (from 2023)', '2011', 96.5],
 ['Euro area â€“ 20 countries (from 2023)', '2012', 98.2],
 ['Euro area â€“ 20 countries (from 2023)', '2013', 98.8],
 ['Euro area â€“ 20 countries (from 2023)', '2014', 99.3],
 ['Euro area â€“ 20 countries (from 2023)', '2015', 100.0],
 ['Euro area â€“ 20 countries (from 2023)', '2016', 100.6],
 ['Euro area â€“ 20 countries (from 2023)', '2017', 102.9],
 ['Euro area â€“ 20 countries (from 2023)', '2018', 105.7],
 ['Euro area â€“ 20 countries (from 2023)', '2019', 107.4],
 ['Euro area â€“ 20 countries (from 2023)', '2020', 108.2],
 ['Euro area â€“ 20 countries (from 2023)', '2021', 115.2],
 ['Euro area â€“ 20 countries (from 2023)', '2022', 129.3],
 ['Euro area - 19 countries  (2015-2022)', '1954', nan],
 ['Euro area - 19 countries  (2015-2022)', '1955', nan],
 ['Euro area - 19 countries  (2015-2022)', '1956', nan],
 ['Euro area - 19 countries  (2015-2022)', '1957', nan],
 ['Euro area - 19 countries  (2015-2022)', '1958', nan],
 ['Euro area - 19 countries  (2015-2022)', '1959', nan],
 ['Euro area - 19 countries  (2015-2022)', '1960', nan],
 ['Euro area - 19 countries  (2015-2022)', '1961', nan],
 ['Euro area - 19 countries  (2015-2022)', '1962', nan],
 ['Euro area - 19 countries  (2015-2022)', '1963', nan],
 ['Euro area - 19 countries  (2015-2022)', '1964', nan],
 ['Euro area - 19 countries  (2015-2022)', '1965', nan],
 ['Euro area - 19 countries  (2015-2022)', '1966', nan],
 ['Euro area - 19 countries  (2015-2022)', '1967', nan],
 ['Euro area - 19 countries  (2015-2022)', '1968', nan],
 ['Euro area - 19 countries  (2015-2022)', '1969', nan],
 ['Euro area - 19 countries  (2015-2022)', '1970', nan],
 ['Euro area - 19 countries  (2015-2022)', '1971', nan],
 ['Euro area - 19 countries  (2015-2022)', '1972', nan],
 ['Euro area - 19 countries  (2015-2022)', '1973', nan],
 ['Euro area - 19 countries  (2015-2022)', '1974', nan],
 ['Euro area - 19 countries  (2015-2022)', '1975', nan],
 ['Euro area - 19 countries  (2015-2022)', '1976', nan],
 ['Euro area - 19 countries  (2015-2022)', '1977', nan],
 ['Euro area - 19 countries  (2015-2022)', '1978', nan],
 ['Euro area - 19 countries  (2015-2022)', '1979', nan],
 ['Euro area - 19 countries  (2015-2022)', '1980', nan],
 ['Euro area - 19 countries  (2015-2022)', '1981', nan],
 ['Euro area - 19 countries  (2015-2022)', '1982', nan],
 ['Euro area - 19 countries  (2015-2022)', '1983', nan],
 ['Euro area - 19 countries  (2015-2022)', '1984', nan],
 ['Euro area - 19 countries  (2015-2022)', '1985', nan],
 ['Euro area - 19 countries  (2015-2022)', '1986', nan],
 ['Euro area - 19 countries  (2015-2022)', '1987', nan],
 ['Euro area - 19 countries  (2015-2022)', '1988', nan],
 ['Euro area - 19 countries  (2015-2022)', '1989', nan],
 ['Euro area - 19 countries  (2015-2022)', '1990', nan],
 ['Euro area - 19 countries  (2015-2022)', '1991', nan],
 ['Euro area - 19 countries  (2015-2022)', '1992', nan],
 ['Euro area - 19 countries  (2015-2022)', '1993', nan],
 ['Euro area - 19 countries  (2015-2022)', '1994', nan],
 ['Euro area - 19 countries  (2015-2022)', '1995', nan],
 ['Euro area - 19 countries  (2015-2022)', '1996', nan],
 ['Euro area - 19 countries  (2015-2022)', '1997', nan],
 ['Euro area - 19 countries  (2015-2022)', '1998', nan],
 ['Euro area - 19 countries  (2015-2022)', '1999', nan],
 ['Euro area - 19 countries  (2015-2022)', '2000', 72.7],
 ['Euro area - 19 countries  (2015-2022)', '2001', 74.0],
 ['Euro area - 19 countries  (2015-2022)', '2002', 75.5],
 ['Euro area - 19 countries  (2015-2022)', '2003', 77.0],
 ['Euro area - 19 countries  (2015-2022)', '2004', 79.5],
 ['Euro area - 19 countries  (2015-2022)', '2005', 81.6],
 ['Euro area - 19 countries  (2015-2022)', '2006', 84.5],
 ['Euro area - 19 countries  (2015-2022)', '2007', 87.9],
 ['Euro area - 19 countries  (2015-2022)', '2008', 91.4],
 ['Euro area - 19 countries  (2015-2022)', '2009', 91.8],
 ['Euro area - 19 countries  (2015-2022)', '2010', 93.5],
 ['Euro area - 19 countries  (2015-2022)', '2011', 96.5],
 ['Euro area - 19 countries  (2015-2022)', '2012', 98.2],
 ['Euro area - 19 countries  (2015-2022)', '2013', 98.8],
 ['Euro area - 19 countries  (2015-2022)', '2014', 99.3],
 ['Euro area - 19 countries  (2015-2022)', '2015', 100.0],
 ['Euro area - 19 countries  (2015-2022)', '2016', 100.6],
 ['Euro area - 19 countries  (2015-2022)', '2017', 102.9],
 ['Euro area - 19 countries  (2015-2022)', '2018', 105.7],
 ['Euro area - 19 countries  (2015-2022)', '2019', 107.4],
 ['Euro area - 19 countries  (2015-2022)', '2020', 108.2],
 ['Euro area - 19 countries  (2015-2022)', '2021', 115.2],
 ['Euro area - 19 countries  (2015-2022)', '2022', 129.3],
 ['Belgium', '1954', nan],
 ['Belgium', '1955', nan],
 ['Belgium', '1956', nan],
 ['Belgium', '1957', nan],
 ['Belgium', '1958', nan],
 ['Belgium', '1959', nan],
 ['Belgium', '1960', nan],
 ['Belgium', '1961', nan],
 ['Belgium', '1962', nan],
 ['Belgium', '1963', nan],
 ['Belgium', '1964', nan],
 ['Belgium', '1965', nan],
 ['Belgium', '1966', nan],
 ['Belgium', '1967', nan],
 ['Belgium', '1968', nan],
 ['Belgium', '1969', nan],
 ['Belgium', '1970', nan],
 ['Belgium', '1971', nan],
 ['Belgium', '1972', nan],
 ['Belgium', '1973', nan],
 ['Belgium', '1974', nan],
 ['Belgium', '1975', nan],
 ['Belgium', '1976', nan],
 ['Belgium', '1977', nan],
 ['Belgium', '1978', nan],
 ['Belgium', '1979', nan],
 ['Belgium', '1980', nan],
 ['Belgium', '1981', nan],
 ['Belgium', '1982', nan],
 ['Belgium', '1983', nan],
 ['Belgium', '1984', nan],
 ['Belgium', '1985', nan],
 ['Belgium', '1986', nan],
 ['Belgium', '1987', nan],
 ['Belgium', '1988', nan],
 ['Belgium', '1989', nan],
 ['Belgium', '1990', nan],
 ['Belgium', '1991', nan],
 ['Belgium', '1992', nan],
 ['Belgium', '1993', nan],
 ['Belgium', '1994', nan],
 ['Belgium', '1995', nan],
 ['Belgium', '1996', nan],
 ['Belgium', '1997', nan],
 ['Belgium', '1998', nan],
 ['Belgium', '1999', nan],
 ['Belgium', '2000', nan],
 ['Belgium', '2001', nan],
 ['Belgium', '2002', nan],
 ['Belgium', '2003', nan],
 ['Belgium', '2004', nan],
 ['Belgium', '2005', nan],
 ['Belgium', '2006', nan],
 ['Belgium', '2007', nan],
 ['Belgium', '2008', nan],
 ['Belgium', '2009', nan],
 ['Belgium', '2010', nan],
 ['Belgium', '2011', nan],
 ['Belgium', '2012', nan],
 ['Belgium', '2013', nan],
 ['Belgium', '2014', nan],
 ['Belgium', '2015', nan],
 ['Belgium', '2016', nan],
 ['Belgium', '2017', nan],
 ['Belgium', '2018', nan],
 ['Belgium', '2019', nan],
 ['Belgium', '2020', nan],
 ['Belgium', '2021', nan],
 ['Belgium', '2022', nan],
 ['Bulgaria', '1954', nan],
 ['Bulgaria', '1955', nan],
 ['Bulgaria', '1956', nan],
 ['Bulgaria', '1957', nan],
 ['Bulgaria', '1958', nan],
 ['Bulgaria', '1959', nan],
 ['Bulgaria', '1960', nan],
 ['Bulgaria', '1961', nan],
 ['Bulgaria', '1962', nan],
 ['Bulgaria', '1963', nan],
 ['Bulgaria', '1964', nan],
 ['Bulgaria', '1965', nan],
 ['Bulgaria', '1966', nan],
 ['Bulgaria', '1967', nan],
 ['Bulgaria', '1968', nan],
 ['Bulgaria', '1969', nan],
 ['Bulgaria', '1970', nan],
 ['Bulgaria', '1971', nan],
 ['Bulgaria', '1972', nan],
 ['Bulgaria', '1973', nan],
 ['Bulgaria', '1974', nan],
 ['Bulgaria', '1975', nan],
 ['Bulgaria', '1976', nan],
 ['Bulgaria', '1977', nan],
 ['Bulgaria', '1978', nan],
 ['Bulgaria', '1979', nan],
 ['Bulgaria', '1980', nan],
 ['Bulgaria', '1981', nan],
 ['Bulgaria', '1982', nan],
 ['Bulgaria', '1983', nan],
 ['Bulgaria', '1984', nan],
 ['Bulgaria', '1985', nan],
 ['Bulgaria', '1986', nan],
 ['Bulgaria', '1987', nan],
 ['Bulgaria', '1988', nan],
 ['Bulgaria', '1989', nan],
 ['Bulgaria', '1990', nan],
 ['Bulgaria', '1991', nan],
 ['Bulgaria', '1992', nan],
 ['Bulgaria', '1993', nan],
 ['Bulgaria', '1994', nan],
 ['Bulgaria', '1995', nan],
 ['Bulgaria', '1996', nan],
 ['Bulgaria', '1997', nan],
 ['Bulgaria', '1998', nan],
 ['Bulgaria', '1999', nan],
 ['Bulgaria', '2000', nan],
 ['Bulgaria', '2001', nan],
 ['Bulgaria', '2002', nan],
 ['Bulgaria', '2003', 64.3],
 ['Bulgaria', '2004', 66.2],
 ['Bulgaria', '2005', 71.7],
 ['Bulgaria', '2006', 76.0],
 ['Bulgaria', '2007', 81.0],
 ['Bulgaria', '2008', 91.1],
 ['Bulgaria', '2009', 97.9],
 ['Bulgaria', '2010', 96.6],
 ['Bulgaria', '2011', 97.2],
 ['Bulgaria', '2012', 96.6],
 ['Bulgaria', '2013', 98.0],
 ['Bulgaria', '2014', 98.7],
 ['Bulgaria', '2015', 100.0],
 ['Bulgaria', '2016', 100.8],
 ['Bulgaria', '2017', 103.6],
 ['Bulgaria', '2018', 106.6],
 ['Bulgaria', '2019', 112.6],
 ['Bulgaria', '2020', 115.2],
 ['Bulgaria', '2021', 127.9],
 ['Bulgaria', '2022', 196.4],
 ['Czechia', '1954', nan],
 ['Czechia', '1955', nan],
 ['Czechia', '1956', nan],
 ['Czechia', '1957', nan],
 ['Czechia', '1958', nan],
 ['Czechia', '1959', nan],
 ['Czechia', '1960', nan],
 ['Czechia', '1961', nan],
 ['Czechia', '1962', nan],
 ['Czechia', '1963', nan],
 ['Czechia', '1964', nan],
 ['Czechia', '1965', nan],
 ['Czechia', '1966', nan],
 ['Czechia', '1967', nan],
 ['Czechia', '1968', nan],
 ['Czechia', '1969', nan],
 ['Czechia', '1970', nan],
 ['Czechia', '1971', nan],
 ['Czechia', '1972', nan],
 ['Czechia', '1973', nan],
 ['Czechia', '1974', nan],
 ['Czechia', '1975', nan],
 ['Czechia', '1976', nan],
 ['Czechia', '1977', nan],
 ['Czechia', '1978', nan],
 ['Czechia', '1979', nan],
 ['Czechia', '1980', nan],
 ['Czechia', '1981', nan],
 ['Czechia', '1982', nan],
 ['Czechia', '1983', nan],
 ['Czechia', '1984', nan],
 ['Czechia', '1985', nan],
 ['Czechia', '1986', nan],
 ['Czechia', '1987', nan],
 ['Czechia', '1988', nan],
 ['Czechia', '1989', nan],
 ['Czechia', '1990', nan],
 ['Czechia', '1991', nan],
 ['Czechia', '1992', nan],
 ['Czechia', '1993', nan],
 ['Czechia', '1994', nan],
 ['Czechia', '1995', nan],
 ['Czechia', '1996', nan],
 ['Czechia', '1997', nan],
 ['Czechia', '1998', nan],
 ['Czechia', '1999', nan],
 ['Czechia', '2000', 71.5],
 ['Czechia', '2001', 73.9],
 ['Czechia', '2002', 75.8],
 ['Czechia', '2003', 77.3],
 ['Czechia', '2004', 83.7],
 ['Czechia', '2005', 86.9],
 ['Czechia', '2006', 88.7],
 ['Czechia', '2007', 92.9],
 ['Czechia', '2008', 96.2],
 ['Czechia', '2009', 95.9],
 ['Czechia', '2010', 97.0],
 ['Czechia', '2011', 98.7],
 ['Czechia', '2012', 99.2],
 ['Czechia', '2013', 98.8],
 ['Czechia', '2014', 100.0],
 ['Czechia', '2015', 100.0],
 ['Czechia', '2016', 100.3],
 ['Czechia', '2017', 103.0],
 ['Czechia', '2018', 107.2],
 ['Czechia', '2019', 113.1],
 ['Czechia', '2020', 115.5],
 ['Czechia', '2021', 125.1],
 ['Czechia', '2022', 150.6],
 ['Denmark', '1954', nan],
 ['Denmark', '1955', nan],
 ['Denmark', '1956', nan],
 ['Denmark', '1957', nan],
 ['Denmark', '1958', nan],
 ['Denmark', '1959', nan],
 ['Denmark', '1960', nan],
 ['Denmark', '1961', nan],
 ['Denmark', '1962', nan],
 ['Denmark', '1963', nan],
 ['Denmark', '1964', nan],
 ['Denmark', '1965', nan],
 ['Denmark', '1966', nan],
 ['Denmark', '1967', nan],
 ['Denmark', '1968', nan],
 ['Denmark', '1969', nan],
 ['Denmark', '1970', nan],
 ['Denmark', '1971', nan],
 ['Denmark', '1972', nan],
 ['Denmark', '1973', nan],
 ['Denmark', '1974', nan],
 ['Denmark', '1975', nan],
 ['Denmark', '1976', nan],
 ['Denmark', '1977', nan],
 ['Denmark', '1978', nan],
 ['Denmark', '1979', nan],
 ['Denmark', '1980', nan],
 ['Denmark', '1981', nan],
 ['Denmark', '1982', nan],
 ['Denmark', '1983', nan],
 ['Denmark', '1984', nan],
 ['Denmark', '1985', nan],
 ['Denmark', '1986', nan],
 ['Denmark', '1987', nan],
 ['Denmark', '1988', nan],
 ['Denmark', '1989', nan],
 ['Denmark', '1990', nan],
 ['Denmark', '1991', nan],
 ['Denmark', '1992', nan],
 ['Denmark', '1993', nan],
 ['Denmark', '1994', nan],
 ['Denmark', '1995', 60.1],
 ['Denmark', '1996', 61.6],
 ['Denmark', '1997', 63.3],
 ['Denmark', '1998', 65.1],
 ['Denmark', '1999', 67.2],
 ['Denmark', '2000', 68.9],
 ['Denmark', '2001', 71.1],
 ['Denmark', '2002', 72.7],
 ['Denmark', '2003', 74.3],
 ['Denmark', '2004', 75.8],
 ['Denmark', '2005', 77.6],
 ['Denmark', '2006', 81.3],
 ['Denmark', '2007', 86.4],
 ['Denmark', '2008', 88.9],
 ['Denmark', '2009', 88.6],
 ['Denmark', '2010', 89.6],
 ['Denmark', '2011', 92.8],
 ['Denmark', '2012', 95.2],
 ['Denmark', '2013', 96.6],
 ['Denmark', '2014', 98.1],
 ['Denmark', '2015', 100.0],
 ['Denmark', '2016', 101.6],
 ['Denmark', '2017', 102.4],
 ['Denmark', '2018', 104.2],
 ['Denmark', '2019', 105.0],
 ['Denmark', '2020', 105.8],
 ['Denmark', '2021', 110.0],
 ['Denmark', '2022', 121.0],
 ['Germany (until 1990 former territory of the FRG)', '1954', nan],
 ['Germany (until 1990 former territory of the FRG)', '1955', nan],

In [268]:
unique_year = []
for year in range(1954, 2023):
    unique_year.append(year)

print(unique_year)

[1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [269]:
unique_list = []
for item in unique_year:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [270]:
euro_area_values = []
eu_values = []
# years = []

for item in CPP_list:
    if item[0] == 'European Union - 27 countries (from 2020)':
        eu_values.append(item[2])
    elif item[0] == 'Euro area â€“ 20 countries (from 2023)':
        euro_area_values.append(item[2])
    unique_year.append(item[1])

result = {'Year': unique_year, 'European Union - 27 countries (from 2020)': eu_values, 'Euro area â€“ 20 countries (from 2023)': euro_area_values}

#print(result)
result

{'Year': [1954,
  1955,
  1956,
  1957,
  1958,
  1959,
  1960,
  1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021',
  '2022',
  '1954',
  '1955',
  '1956',
  '1957',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  ...],
 'European Union - 27 countries (from 2020)': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  71.0,
  72.6,
  74.3,
  75.8,
  78.5,
  80.7,
  83.7,
  87.3,
  91.0,
  91.4,
  93.1,
  96.1,
  97.9,
  98.6,
  99.2,
  100.0,
  100.8,
  103.2,
  106.1,
  108.1,
  109.1,
  116.2,
  130.8],
 'Euro area â€“ 20 countries (from 2023)': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  72.7,
  74.0,
  75.5,
  77.0,
  79.5,
  81.6,
  84.5,
  87.9,
  91.4,
  91.8,
  93.5,
  96.5,
  98.2,
  98.8,
  99.3,
  100.0,
  100.6,
  102.9,
  105.7,
  107.4,
  108.2,
  115.2,
  129.3]}

In [267]:
df = pd.DataFrame(result)
df

ValueError: All arrays must be of the same length

In [264]:
Columns = ['Year','European Union - 27 countries (from 2020)', 'Ireland', 'United Kingdom', 'TÃ¼rkiye']
ConstructionProducePrice = pd.DataFrame(CPP_list, columns=columns)
ConstructionProducePrice

ValueError: 5 columns passed, passed data had 3 columns

In [256]:
ConstructionProducePrice['European Union - 27 countries (from 2020)'] = ConstructionProducePrice.loc[ConstructionProducePrice['Country'] == 'European Union - 27 countries (from 2020)', 'Value']
ConstructionProducePrice['Ireland'] = ConstructionProducePrice.loc[ConstructionProducePrice['Country'] == 'Ireland', 'Value']
ConstructionProducePrice['United Kingdom'] = ConstructionProducePrice.loc[ConstructionProducePrice['Country'] == 'United Kingdom', 'Value']
ConstructionProducePrice['TÃ¼rkiye'] = ConstructionProducePrice.loc[ConstructionProducePrice['Country'] == 'TÃ¼rkiye', 'Value']
ConstructionProducePrice

,Country,Year,Value,European Union - 27 countries (from 2020),Ireland,United Kingdom,TÃ¼rkiye
0,European Union - 27 countries (from 2020),1954,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),1955,NaN,NaN,NaN,NaN,NaN
2,European Union - 27 countries (from 2020),1956,NaN,NaN,NaN,NaN,NaN
3,European Union - 27 countries (from 2020),1957,NaN,NaN,NaN,NaN,NaN
4,European Union - 27 countries (from 2020),1958,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2617,TÃ¼rkiye,2018,161.4,NaN,NaN,NaN,161.4
2618,TÃ¼rkiye,2019,190.3,NaN,NaN,NaN,190.3
2619,TÃ¼rkiye,2020,214.8,NaN,NaN,NaN,214.8
2620,TÃ¼rkiye,2021,302.2,NaN,NaN,NaN,302.2
2621,TÃ¼rkiye,2022,603.3,NaN,NaN,NaN,603.3

In [257]:
ConstructionProducePrice = ConstructionProducePrice.drop_duplicates('Year')
ConstructionProducePrice

,Country,Year,Value,European Union - 27 countries (from 2020),Ireland,United Kingdom,TÃ¼rkiye
0,European Union - 27 countries (from 2020),1954,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),1955,NaN,NaN,NaN,NaN,NaN
2,European Union - 27 countries (from 2020),1956,NaN,NaN,NaN,NaN,NaN
3,European Union - 27 countries (from 2020),1957,NaN,NaN,NaN,NaN,NaN
4,European Union - 27 countries (from 2020),1958,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
64,European Union - 27 countries (from 2020),2018,106.1,106.1,NaN,NaN,NaN
65,European Union - 27 countries (from 2020),2019,108.1,108.1,NaN,NaN,NaN
66,European Union - 27 countries (from 2020),2020,109.1,109.1,NaN,NaN,NaN
67,European Union - 27 countries (from 2020),2021,116.2,116.2,NaN,NaN,NaN
68,European Union - 27 countries (from 2020),2022,130.8,130.8,NaN,NaN,NaN

In [247]:
ConstructionProducePrice = ConstructionProducePrice.drop(['Country','Value'], axis=1)
ConstructionProducePrice

,Year,European Union - 27 countries (from 2020),Ireland,United Kingdom,TÃ¼rkiye
0,1954,NaN,NaN,NaN,NaN
1,1955,NaN,NaN,NaN,NaN
2,1956,NaN,NaN,NaN,NaN
3,1957,NaN,NaN,NaN,NaN
4,1958,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2617,2018,NaN,NaN,NaN,161.4
2618,2019,NaN,NaN,NaN,190.3
2619,2020,NaN,NaN,NaN,214.8
2620,2021,NaN,NaN,NaN,302.2
2621,2022,NaN,NaN,NaN,603.3

In [251]:
ConstructionProducePrice.head()

,Year,European Union - 27 countries (from 2020),Ireland,United Kingdom,TÃ¼rkiye
0,1954,NaN,NaN,NaN,NaN
1,1955,NaN,NaN,NaN,NaN
2,1956,NaN,NaN,NaN,NaN
3,1957,NaN,NaN,NaN,NaN
4,1958,NaN,NaN,NaN,NaN

In [252]:
ConstructionProducePrice.tail(15)

,Year,European Union - 27 countries (from 2020),Ireland,United Kingdom,TÃ¼rkiye
54,2008,91.0,NaN,NaN,NaN
55,2009,91.4,NaN,NaN,NaN
56,2010,93.1,NaN,NaN,NaN
57,2011,96.1,NaN,NaN,NaN
58,2012,97.9,NaN,NaN,NaN
59,2013,98.6,NaN,NaN,NaN
60,2014,99.2,NaN,NaN,NaN
61,2015,100.0,NaN,NaN,NaN
62,2016,100.8,NaN,NaN,NaN
63,2017,103.2,NaN,NaN,NaN
64,2018,106.1,NaN,NaN,NaN
65,2019,108.1,NaN,NaN,NaN
66,2020,109.1,NaN,NaN,NaN
67,2021,116.2,NaN,NaN,NaN
68,2022,130.8,NaN,NaN,NaN