## MY ASSESMENT TOPIC:
### Analysis of the Increase or Decrease in the Construction Producer Prices According to the Number of Employment and Building Permits on a Yearly Basis considering IE, UK, TR, and EU.

## First Dataset 
### Building Permits - Annual Data BY EUROSTAT

In [1]:
# 2023034 - MAHMUT ZAHID MALKOC
import numpy as np
import pandas as pd
from pyjstat import pyjstat

# Building permits - m2 of useful floor area - Index, 2015=100
BuildingsPermits = pd.read_csv('BuildingsPermits.csv')
BuildingsPermits

,DATAFLOW,LAST UPDATE,freq,indic_bt,cpa2_1,s_adj,unit,geo,TIME_PERIOD,OBS_VALUE
0,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1992,NaN
1,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1993,NaN
2,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1994,NaN
3,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1995,NaN
4,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1996,NaN
...,...,...,...,...,...,...,...,...,...,...
1173,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2018,103.5
1174,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2019,96.5
1175,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2020,NaN
1176,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2021,NaN
1177,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2022,NaN

In [2]:
# 2023034 - MAHMUT ZAHID MALKOC
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
BuildingsPermits = BuildingsPermits[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
BuildingsPermits

                 geo  TIME_PERIOD  OBS_VALUE
0            Albania         1992        NaN
1            Albania         1993        NaN
2            Albania         1994        NaN
3            Albania         1995        NaN
4            Albania         1996        NaN
...              ...          ...        ...
1173  United Kingdom         2018      103.5
1174  United Kingdom         2019       96.5
1175  United Kingdom         2020        NaN
1176  United Kingdom         2021        NaN
1177  United Kingdom         2022        NaN

[1178 rows x 3 columns]

In [3]:
# 2023034 - MAHMUT ZAHID MALKOC
# Column names are changed
BuildingsPermits = BuildingsPermits.rename(columns={'geo': 'Country', 'TIME_PERIOD': 'Year', 'OBS_VALUE': 'Value'})
BuildingsPermits

             Country  Year  Value
0            Albania  1992    NaN
1            Albania  1993    NaN
2            Albania  1994    NaN
3            Albania  1995    NaN
4            Albania  1996    NaN
...              ...   ...    ...
1173  United Kingdom  2018  103.5
1174  United Kingdom  2019   96.5
1175  United Kingdom  2020    NaN
1176  United Kingdom  2021    NaN
1177  United Kingdom  2022    NaN

[1178 rows x 3 columns]

In [4]:
# 2023034 - MAHMUT ZAHID MALKOC
# Choosen the all countries
countries = BuildingsPermits['Country'].unique()
list(countries)

['Albania',
 'Austria',
 'Bosnia and Herzegovina',
 'Belgium',
 'Bulgaria',
 'Cyprus',
 'Czechia',
 'Germany (until 1990 former territory of the FRG)',
 'Denmark',
 'Euro area - 19 countries  (2015-2022)',
 'Euro area – 20 countries (from 2023)',
 'Estonia',
 'Greece',
 'Spain',
 'European Union - 27 countries (from 2020)',
 'Finland',
 'France',
 'Croatia',
 'Hungary',
 'Ireland',
 'Italy',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Montenegro',
 'North Macedonia',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Sweden',
 'Slovenia',
 'Slovakia',
 'Türkiye',
 'United Kingdom']

In [5]:
# 2023034 - MAHMUT ZAHID MALKOC
# Related Countries are selected
countries = ['European Union - 27 countries (from 2020)','Ireland','United Kingdom','Türkiye']
BuildingsPermits = BuildingsPermits[BuildingsPermits['Country'].isin(countries)]
BuildingsPermits

                                        Country  Year  Value
434   European Union - 27 countries (from 2020)  1992    NaN
435   European Union - 27 countries (from 2020)  1993    NaN
436   European Union - 27 countries (from 2020)  1994    NaN
437   European Union - 27 countries (from 2020)  1995    NaN
438   European Union - 27 countries (from 2020)  1996    NaN
...                                         ...   ...    ...
1173                             United Kingdom  2018  103.5
1174                             United Kingdom  2019   96.5
1175                             United Kingdom  2020    NaN
1176                             United Kingdom  2021    NaN
1177                             United Kingdom  2022    NaN

[124 rows x 3 columns]

In [6]:
# 2023034 - MAHMUT ZAHID MALKOC
# How many countries do we have?
unique_countries = BuildingsPermits['Country'].unique()
num_countries = len(unique_countries)
num_countries

4

In [7]:
# 2023034 - MAHMUT ZAHID MALKOC
# Values in European Union by years
BP_data = BuildingsPermits[BuildingsPermits['Country'] == 'European Union - 27 countries (from 2020)']
BP_data = BP_data[['Year', 'Value']].set_index('Year').rename(columns={'Value': 'European Union'})
BP_data

      European Union
Year
1992             NaN
1993             NaN
1994             NaN
1995             NaN
1996             NaN
1997             NaN
1998             NaN
1999             NaN
2000             NaN
2001             NaN
2002             NaN
2003             NaN
2004             NaN
2005           263.6
2006           294.3
2007           275.9
2008           202.4
2009           146.9
2010           131.3
2011           129.2
2012           113.0
2013            99.1
2014            95.0
2015           100.0
2016           113.6
2017           123.6
2018           129.2
2019           128.8
2020           114.8
2021           133.5
2022           131.6

In [8]:
# 2023034 - MAHMUT ZAHID MALKOC
for country in countries:
    if country == 'European Union - 27 countries (from 2020)':
        continue
    country_data = BuildingsPermits[BuildingsPermits['Country'] == country][['Year', 'Value']].set_index('Year').rename(columns={'Value': country})
    BP_data = BP_data.merge(country_data, how='outer', left_index=True, right_index=True)
BP_data

      European Union  Ireland  United Kingdom  Türkiye
Year
1992             NaN      NaN             NaN     42.6
1993             NaN      NaN             NaN     49.6
1994             NaN      NaN             NaN     47.6
1995             NaN      NaN             NaN     49.0
1996             NaN      NaN             NaN     45.9
1997             NaN      NaN             NaN     48.8
1998             NaN      NaN           118.9     46.1
1999             NaN      NaN           116.6     36.8
2000             NaN    394.0           114.1     36.1
2001             NaN    365.0           115.7     33.8
2002             NaN    322.4           113.4     21.5
2003             NaN    341.3           117.3     26.9
2004             NaN    429.6           125.6     40.7
2005           263.6    456.6           120.8     61.8
2006           294.3    436.3           120.6     71.0
2007           275.9    542.2           128.1     72.4
2008           202.4    377.8           103.6     57.8
2009           146.9    226.5            91.2     56.0
2010           131.3    110.5            87.1     97.5
2011           129.2     83.5            85.7     67.3
2012           113.0     61.3            88.8     86.2
2013            99.1     65.7            78.9     95.5
2014            95.0     61.3            90.5    119.3
2015           100.0    100.0           100.0    100.0
2016           113.6    115.9           102.1    107.1
2017           123.6    126.0           101.9    145.7
2018           129.2    162.6           103.5     79.0
2019           128.8    184.1            96.5     39.0
2020           114.8    181.8             NaN     59.0
2021           133.5    191.6             NaN     79.2
2022           131.6    158.9             NaN     71.6

In [9]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits = BP_data.rename(columns={"European Union": "EU",
                                            "Ireland": "IE",
                                            "United Kingdom": "UK",
                                            "Türkiye": "TR",})
BuildingsPermits

         EU     IE     UK     TR
Year
1992    NaN    NaN    NaN   42.6
1993    NaN    NaN    NaN   49.6
1994    NaN    NaN    NaN   47.6
1995    NaN    NaN    NaN   49.0
1996    NaN    NaN    NaN   45.9
1997    NaN    NaN    NaN   48.8
1998    NaN    NaN  118.9   46.1
1999    NaN    NaN  116.6   36.8
2000    NaN  394.0  114.1   36.1
2001    NaN  365.0  115.7   33.8
2002    NaN  322.4  113.4   21.5
2003    NaN  341.3  117.3   26.9
2004    NaN  429.6  125.6   40.7
2005  263.6  456.6  120.8   61.8
2006  294.3  436.3  120.6   71.0
2007  275.9  542.2  128.1   72.4
2008  202.4  377.8  103.6   57.8
2009  146.9  226.5   91.2   56.0
2010  131.3  110.5   87.1   97.5
2011  129.2   83.5   85.7   67.3
2012  113.0   61.3   88.8   86.2
2013   99.1   65.7   78.9   95.5
2014   95.0   61.3   90.5  119.3
2015  100.0  100.0  100.0  100.0
2016  113.6  115.9  102.1  107.1
2017  123.6  126.0  101.9  145.7
2018  129.2  162.6  103.5   79.0
2019  128.8  184.1   96.5   39.0
2020  114.8  181.8    NaN   59.0
2021  133.5  191.6    NaN   79.2
2022  131.6  158.9    NaN   71.6

In [10]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits.reset_index(inplace=True)
BuildingsPermits

    Year     EU     IE     UK     TR
0   1992    NaN    NaN    NaN   42.6
1   1993    NaN    NaN    NaN   49.6
2   1994    NaN    NaN    NaN   47.6
3   1995    NaN    NaN    NaN   49.0
4   1996    NaN    NaN    NaN   45.9
5   1997    NaN    NaN    NaN   48.8
6   1998    NaN    NaN  118.9   46.1
7   1999    NaN    NaN  116.6   36.8
8   2000    NaN  394.0  114.1   36.1
9   2001    NaN  365.0  115.7   33.8
10  2002    NaN  322.4  113.4   21.5
11  2003    NaN  341.3  117.3   26.9
12  2004    NaN  429.6  125.6   40.7
13  2005  263.6  456.6  120.8   61.8
14  2006  294.3  436.3  120.6   71.0
15  2007  275.9  542.2  128.1   72.4
16  2008  202.4  377.8  103.6   57.8
17  2009  146.9  226.5   91.2   56.0
18  2010  131.3  110.5   87.1   97.5
19  2011  129.2   83.5   85.7   67.3
20  2012  113.0   61.3   88.8   86.2
21  2013   99.1   65.7   78.9   95.5
22  2014   95.0   61.3   90.5  119.3
23  2015  100.0  100.0  100.0  100.0
24  2016  113.6  115.9  102.1  107.1
25  2017  123.6  126.0  101.9  145.7
26  2018  129.2  162.6  103.5   79.0
27  2019  128.8  184.1   96.5   39.0
28  2020  114.8  181.8    NaN   59.0
29  2021  133.5  191.6    NaN   79.2
30  2022  131.6  158.9    NaN   71.6

In [11]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits = BuildingsPermits.add_prefix('BP_')
BuildingsPermits = BuildingsPermits.rename(columns={"BP_Year": "Year"})
BuildingsPermits

    Year  BP_EU  BP_IE  BP_UK  BP_TR
0   1992    NaN    NaN    NaN   42.6
1   1993    NaN    NaN    NaN   49.6
2   1994    NaN    NaN    NaN   47.6
3   1995    NaN    NaN    NaN   49.0
4   1996    NaN    NaN    NaN   45.9
5   1997    NaN    NaN    NaN   48.8
6   1998    NaN    NaN  118.9   46.1
7   1999    NaN    NaN  116.6   36.8
8   2000    NaN  394.0  114.1   36.1
9   2001    NaN  365.0  115.7   33.8
10  2002    NaN  322.4  113.4   21.5
11  2003    NaN  341.3  117.3   26.9
12  2004    NaN  429.6  125.6   40.7
13  2005  263.6  456.6  120.8   61.8
14  2006  294.3  436.3  120.6   71.0
15  2007  275.9  542.2  128.1   72.4
16  2008  202.4  377.8  103.6   57.8
17  2009  146.9  226.5   91.2   56.0
18  2010  131.3  110.5   87.1   97.5
19  2011  129.2   83.5   85.7   67.3
20  2012  113.0   61.3   88.8   86.2
21  2013   99.1   65.7   78.9   95.5
22  2014   95.0   61.3   90.5  119.3
23  2015  100.0  100.0  100.0  100.0
24  2016  113.6  115.9  102.1  107.1
25  2017  123.6  126.0  101.9  145.7
26  2018  129.2  162.6  103.5   79.0
27  2019  128.8  184.1   96.5   39.0
28  2020  114.8  181.8    NaN   59.0
29  2021  133.5  191.6    NaN   79.2
30  2022  131.6  158.9    NaN   71.6

## Second Dataset
### Labour Input In Construction - Employment Number of Persons - Annual Data BY EUROSTAT

In [12]:
# 2023034 - MAHMUT ZAHID MALKOC
import numpy as np
import pandas as pd

EmploymentNumberOfPersons = pd.read_excel('LabourInputInConstruction-EmploymentNumberOfPersons.xlsx')
EmploymentNumberOfPersons

,GEO (Labels),1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.8,100.7,100,100.7,102.8,106.4,109.6,110.4,113.0,115.7
1,European Union - 28 countries (2013-2020),NaN,NaN,NaN,NaN,NaN,NaN,104.5,107.0,111.6,...,101.7,100.2,100,100.9,103.3,106.3,109.1,NaN,NaN,NaN
2,Euro area – 20 countries (from 2023),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.7,100.8,100,100.5,102.6,105.9,108.5,109.2,112.4,115.3
3,Euro area - 19 countries (2015-2022),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.2,...,102.7,100.8,100,100.5,102.6,105.9,108.4,109.0,112.2,115.1
4,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.0,100.6,100,101.4,103.6,106.4,109.2,108.0,112.6,NaN
5,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.9,101.8,100,95.8,99.4,100.2,103.2,101.5,93.5,90.2
6,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,98.2,100,97.3,98.6,100.0,101.8,102.3,98.0,96.7
7,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.3,96.8,100,103.9,107.8,112.1,114.2,117.7,122.9,126.8
8,Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.8,100.2,100,101.4,103.7,105.8,107.7,109.1,110.7,111.5
9,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.9,...,96.7,93.8,100,98.8,105.1,110.4,114.3,108.5,114.9,121.1
10,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.3,85.2,100,114.2,123.6,138.6,146.0,139.1,143.4,169.7
11,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,132.6,100,118.6,124.3,131.2,105.4,95.1,79.7,77.0
12,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.9,92.5,100,100.0,105.1,113.8,119.0,115.9,120.3,123.1
13,France,104.7,103.9,100.3,94.7,93.0,92.9,89.9,87.9,87.9,...,106.1,103.6,100,98.9,99.7,101.9,105.6,108.9,113.4,115.1
14,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.9,100.4,100,98.8,102.3,107.6,115.3,123.1,128.9,129.3
15,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.4,103.3,100,99.7,98.2,98.3,99.3,101.6,108.0,116.3
16,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.7,100.5,100,108.0,124.2,141.5,155.1,161.0,164.4,168.6
17,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.1,102.2,100,92.9,96.9,104.1,108.0,104.6,104.8,100.2
18,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.2,...,90.5,95.4,100,95.3,96.9,101.1,103.0,101.8,103.8,101.1
19,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.1,100.4,100,101.6,104.8,107.1,109.7,106.1,106.4,106.5
20,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.9,98.8,100,103.5,107.3,117.1,139.2,137.0,145.0,152.0
21,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.2,90.8,100,101.4,86.0,85.1,90.3,95.0,95.2,96.1
22,Netherlands,NaN,NaN,NaN,NaN,NaN,125.8,127.4,130.8,133.7,...,108.1,101.9,100,99.7,102.7,106.3,109.9,112.1,114.7,NaN
23,Austria,NaN,NaN,NaN,NaN,NaN,NaN,101.2,100.2,108.5,...,103.0,101.4,100,100.3,103.1,107.7,113.2,115.1,119.5,122.2
24,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.5,106.0,100,99.1,101.3,105.7,111.0,111.4,110.8,111.7
25,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.2,104.3,100,96.0,97.7,99.9,102.1,101.8,103.6,105.7
26,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.8,94.6,100,105.0,104.1,110.6,116.3,120.2,126.4,129.5
27,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,99.4,100,99.2,102.6,107.5,117.6,120.5,125.8,135.6
28,Slovakia,NaN,NaN,NaN,NaN,NaN,98.5,96.1,96.2,97.2,...,102.0,100.8,100,101.2,103.7,107.2,114.1,107.3,103.2,105.1
29,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.5,100.1,100,105.0,110.3,116.3,112.8,112.8,109.3,106.2
30,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,96.5,100,105.4,109.2,114.9,117.7,119.0,121.3,125.2
31,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.3,91.1,100,117.0,136.8,150.5,153.9,142.6,150.1,168.7
32,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,97.7,100,102.7,107.0,110.8,114.2,113.9,114.7,119.9
33,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.6,...,98.8,99.7,100,99.8,100.4,101.6,103.2,103.2,103.6,105.8
34,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,78.6,86.0,94.4,...,93.0,96.4,100,102.7,108.4,108.7,111.8,NaN,NaN,NaN
35,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,97.0,100,108.8,115.3,129.6,150.9,119.7,136.4,167.7
36,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.4,90.6,100,107.3,104.1,99.0,89.1,86.2,87.0,81.0
37,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.6,89.8,100,106.2,109.2,113.5,115.8,118.9,123.0,126.8
38,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.3,100.9,100,100.0,101.2,109.3,119.9,130.8,137.1,139.5
39,Türkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.7,94.0,100,104.4,108.8,106.5,79.0,79.6,94.4,94.9

In [13]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons.set_index('GEO (Labels)', inplace = True)
EmploymentNumberOfPersons

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
GEO (Labels),,,,,,,,,,,,,,,,,,,,,
European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.8,100.7,100,100.7,102.8,106.4,109.6,110.4,113.0,115.7
European Union - 28 countries (2013-2020),NaN,NaN,NaN,NaN,NaN,NaN,104.5,107.0,111.6,112.6,...,101.7,100.2,100,100.9,103.3,106.3,109.1,NaN,NaN,NaN
Euro area – 20 countries (from 2023),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.7,100.8,100,100.5,102.6,105.9,108.5,109.2,112.4,115.3
Euro area - 19 countries (2015-2022),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.2,118.7,...,102.7,100.8,100,100.5,102.6,105.9,108.4,109.0,112.2,115.1
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.0,100.6,100,101.4,103.6,106.4,109.2,108.0,112.6,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.9,101.8,100,95.8,99.4,100.2,103.2,101.5,93.5,90.2
Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,98.2,100,97.3,98.6,100.0,101.8,102.3,98.0,96.7
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.3,96.8,100,103.9,107.8,112.1,114.2,117.7,122.9,126.8
Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.8,100.2,100,101.4,103.7,105.8,107.7,109.1,110.7,111.5
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.9,74.7,...,96.7,93.8,100,98.8,105.1,110.4,114.3,108.5,114.9,121.1
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.3,85.2,100,114.2,123.6,138.6,146.0,139.1,143.4,169.7
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,132.6,100,118.6,124.3,131.2,105.4,95.1,79.7,77.0
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.9,92.5,100,100.0,105.1,113.8,119.0,115.9,120.3,123.1
France,104.7,103.9,100.3,94.7,93.0,92.9,89.9,87.9,87.9,89.7,...,106.1,103.6,100,98.9,99.7,101.9,105.6,108.9,113.4,115.1
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.9,100.4,100,98.8,102.3,107.6,115.3,123.1,128.9,129.3
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.4,103.3,100,99.7,98.2,98.3,99.3,101.6,108.0,116.3
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.7,100.5,100,108.0,124.2,141.5,155.1,161.0,164.4,168.6
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.1,102.2,100,92.9,96.9,104.1,108.0,104.6,104.8,100.2
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.2,83.1,...,90.5,95.4,100,95.3,96.9,101.1,103.0,101.8,103.8,101.1
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.1,100.4,100,101.6,104.8,107.1,109.7,106.1,106.4,106.5
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.9,98.8,100,103.5,107.3,117.1,139.2,137.0,145.0,152.0
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.2,90.8,100,101.4,86.0,85.1,90.3,95.0,95.2,96.1
Netherlands,NaN,NaN,NaN,NaN,NaN,125.8,127.4,130.8,133.7,137.9,...,108.1,101.9,100,99.7,102.7,106.3,109.9,112.1,114.7,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,101.2,100.2,108.5,103.8,...,103.0,101.4,100,100.3,103.1,107.7,113.2,115.1,119.5,122.2
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.5,106.0,100,99.1,101.3,105.7,111.0,111.4,110.8,111.7
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.2,104.3,100,96.0,97.7,99.9,102.1,101.8,103.6,105.7
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.8,94.6,100,105.0,104.1,110.6,116.3,120.2,126.4,129.5
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,99.4,100,99.2,102.6,107.5,117.6,120.5,125.8,135.6
Slovakia,NaN,NaN,NaN,NaN,NaN,98.5,96.1,96.2,97.2,88.0,...,102.0,100.8,100,101.2,103.7,107.2,114.1,107.3,103.2,105.1
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.5,100.1,100,105.0,110.3,116.3,112.8,112.8,109.3,106.2
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,96.5,100,105.4,109.2,114.9,117.7,119.0,121.3,125.2
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.3,91.1,100,117.0,136.8,150.5,153.9,142.6,150.1,168.7
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,97.7,100,102.7,107.0,110.8,114.2,113.9,114.7,119.9
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.6,83.6,...,98.8,99.7,100,99.8,100.4,101.6,103.2,103.2,103.6,105.8
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,78.6,86.0,94.4,95.9,...,93.0,96.4,100,102.7,108.4,108.7,111.8,NaN,NaN,NaN
Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,97.0,100,108.8,115.3,129.6,150.9,119.7,136.4,167.7
North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.4,90.6,100,107.3,104.1,99.0,89.1,86.2,87.0,81.0
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.6,89.8,100,106.2,109.2,113.5,115.8,118.9,123.0,126.8
Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.3,100.9,100,100.0,101.2,109.3,119.9,130.8,137.1,139.5
Türkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.7,94.0,100,104.4,108.8,106.5,79.0,79.6,94.4,94.9

In [14]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.T
EmploymentNumberOfPersons

GEO (Labels),European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area – 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),Estonia,...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,Türkiye
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,78.9,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,74.7,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,74.2,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,71.7,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,77.1,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,79.9,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,85.4,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,92.8,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,106.8,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,124.4,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,125.0,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,105.0,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,85.8,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,86.0,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,96.3,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,96.7,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,93.8,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,98.8,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,105.1,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,110.4,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,114.3,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,108.5,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,114.9,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,121.1,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [15]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.reset_index()
EmploymentNumberOfPersons

GEO (Labels),index,European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area – 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,Türkiye
0,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
7,1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
8,1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
9,1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
10,2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
11,2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
12,2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
13,2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
14,2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
15,2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
16,2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
17,2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
18,2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
19,2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
20,2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
21,2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
22,2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
23,2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
24,2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
25,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
26,2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
27,2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
28,2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
29,2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
30,2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
31,2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
32,2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [16]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.rename(columns={"index": "Year"})
EmploymentNumberOfPersons

GEO (Labels),Year,European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area – 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,Türkiye
0,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
7,1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
8,1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
9,1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
10,2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
11,2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
12,2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
13,2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
14,2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
15,2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
16,2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
17,2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
18,2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
19,2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
20,2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
21,2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
22,2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
23,2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
24,2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
25,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
26,2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
27,2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
28,2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
29,2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
30,2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
31,2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
32,2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [17]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons.set_index('Year', inplace = True)
EmploymentNumberOfPersons

GEO (Labels),European Union - 27 countries (from 2020),European Union - 28 countries (2013-2020),Euro area – 20 countries (from 2023),Euro area - 19 countries (2015-2022),Belgium,Bulgaria,Czechia,Denmark,Germany (until 1990 former territory of the FRG),Estonia,...,Sweden,Iceland,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,Türkiye
Year,,,,,,,,,,,,,,,,,,,,,
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,104.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.6,NaN,NaN,NaN,NaN,NaN
1997,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN
1998,NaN,111.6,NaN,118.2,NaN,NaN,NaN,NaN,NaN,78.9,...,NaN,NaN,NaN,84.6,94.4,NaN,NaN,NaN,NaN,NaN
1999,NaN,112.6,NaN,118.7,NaN,NaN,NaN,NaN,NaN,74.7,...,NaN,NaN,NaN,83.6,95.9,NaN,NaN,NaN,NaN,NaN
2000,117.5,115.3,120.8,121.2,80.8,73.8,106.5,NaN,130.4,74.2,...,67.2,NaN,62.1,84.5,99.3,73.7,NaN,NaN,151.3,NaN
2001,117.2,115.0,121.3,121.7,83.2,71.0,105.5,NaN,119.8,71.7,...,69.6,NaN,63.4,85.5,100.2,73.8,NaN,NaN,151.8,NaN
2002,115.8,113.6,121.2,121.5,83.2,71.4,101.7,NaN,110.4,77.1,...,69.1,NaN,64.9,85.6,98.8,67.3,NaN,NaN,150.8,NaN
2003,115.0,113.1,121.5,121.7,88.0,78.2,102.6,NaN,101.0,79.9,...,69.2,NaN,69.1,85.8,99.0,71.2,NaN,NaN,149.9,NaN
2004,115.3,113.9,122.7,122.8,86.0,90.5,104.7,NaN,93.9,85.4,...,67.9,NaN,70.5,85.8,101.5,75.1,NaN,NaN,150.6,NaN
2005,118.3,117.0,124.8,124.9,87.7,108.7,105.2,NaN,88.2,92.8,...,69.6,NaN,73.8,87.0,105.8,82.6,NaN,66.4,153.8,138.4
2006,122.5,121.1,128.7,128.7,91.3,125.3,107.4,NaN,88.4,106.8,...,74.8,NaN,80.0,88.8,110.0,74.8,NaN,66.2,154.0,159.5
2007,128.3,126.3,134.4,134.4,95.3,138.8,108.6,NaN,89.8,124.4,...,80.4,NaN,87.4,91.9,110.5,72.6,67.1,64.0,154.6,160.0
2008,128.4,126.3,132.7,132.5,98.6,179.0,109.7,131.5,90.4,125.0,...,84.4,173.3,89.8,93.1,110.4,96.4,61.4,84.1,156.5,151.4
2009,119.5,117.9,122.5,122.2,98.5,160.5,107.3,116.2,91.6,105.0,...,85.2,104.0,86.0,93.1,107.0,109.1,61.0,89.6,135.4,49.4
2010,113.9,111.8,116.7,116.6,99.8,124.4,108.2,105.5,93.4,85.8,...,84.7,87.0,84.7,94.9,96.5,86.3,61.9,86.4,122.3,58.2
2011,111.3,109.3,112.6,112.5,102.2,110.3,105.8,106.1,96.7,86.0,...,91.2,80.0,87.9,95.6,94.3,86.6,68.3,78.8,117.2,70.4
2012,107.7,105.9,107.5,107.5,103.1,101.9,105.0,106.0,97.7,96.3,...,96.1,78.7,92.8,97.4,92.9,89.9,66.0,81.3,111.3,81.4
2013,102.8,101.7,102.7,102.7,102.0,97.9,99.9,94.3,98.8,96.7,...,95.6,84.3,95.6,98.8,93.0,91.0,84.4,76.6,105.3,88.7
2014,100.7,100.2,100.8,100.8,100.6,101.8,98.2,96.8,100.2,93.8,...,96.5,91.1,97.7,99.7,96.4,97.0,90.6,89.8,100.9,94.0
2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2016,100.7,100.9,100.5,100.5,101.4,95.8,97.3,103.9,101.4,98.8,...,105.4,117.0,102.7,99.8,102.7,108.8,107.3,106.2,100.0,104.4
2017,102.8,103.3,102.6,102.6,103.6,99.4,98.6,107.8,103.7,105.1,...,109.2,136.8,107.0,100.4,108.4,115.3,104.1,109.2,101.2,108.8
2018,106.4,106.3,105.9,105.9,106.4,100.2,100.0,112.1,105.8,110.4,...,114.9,150.5,110.8,101.6,108.7,129.6,99.0,113.5,109.3,106.5
2019,109.6,109.1,108.5,108.4,109.2,103.2,101.8,114.2,107.7,114.3,...,117.7,153.9,114.2,103.2,111.8,150.9,89.1,115.8,119.9,79.0
2020,110.4,NaN,109.2,109.0,108.0,101.5,102.3,117.7,109.1,108.5,...,119.0,142.6,113.9,103.2,NaN,119.7,86.2,118.9,130.8,79.6
2021,113.0,NaN,112.4,112.2,112.6,93.5,98.0,122.9,110.7,114.9,...,121.3,150.1,114.7,103.6,NaN,136.4,87.0,123.0,137.1,94.4
2022,115.7,NaN,115.3,115.1,NaN,90.2,96.7,126.8,111.5,121.1,...,125.2,168.7,119.9,105.8,NaN,167.7,81.0,126.8,139.5,94.9

In [18]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons[['European Union - 27 countries (from 2020)', 'Ireland', 'United Kingdom','Türkiye']]
EmploymentNumberOfPersons

GEO (Labels),European Union - 27 countries (from 2020),Ireland,United Kingdom,Türkiye
Year,,,,
1990,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN
1996,NaN,NaN,78.6,NaN
1997,NaN,NaN,86.0,NaN
1998,NaN,NaN,94.4,NaN
1999,NaN,NaN,95.9,NaN
2000,117.5,120.1,99.3,NaN
2001,117.2,129.3,100.2,NaN
2002,115.8,131.7,98.8,NaN
2003,115.0,137.2,99.0,NaN
2004,115.3,151.1,101.5,NaN
2005,118.3,174.0,105.8,138.4
2006,122.5,192.1,110.0,159.5
2007,128.3,199.6,110.5,160.0
2008,128.4,182.5,110.4,151.4
2009,119.5,124.8,107.0,49.4
2010,113.9,89.1,96.5,58.2
2011,111.3,82.1,94.3,70.4
2012,107.7,76.0,92.9,81.4
2013,102.8,76.3,93.0,88.7
2014,100.7,85.2,96.4,94.0
2015,100.0,100.0,100.0,100.0
2016,100.7,114.2,102.7,104.4
2017,102.8,123.6,108.4,108.8
2018,106.4,138.6,108.7,106.5
2019,109.6,146.0,111.8,79.0
2020,110.4,139.1,NaN,79.6
2021,113.0,143.4,NaN,94.4
2022,115.7,169.7,NaN,94.9

In [19]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.rename(columns={"European Union - 27 countries (from 2020)": "EU",
                                                                        "Ireland": "IE",
                                                                        "United Kingdom": "UK",
                                                                        "Türkiye": "TR",})
EmploymentNumberOfPersons

GEO (Labels)     EU     IE     UK     TR
Year
1990            NaN    NaN    NaN    NaN
1991            NaN    NaN    NaN    NaN
1992            NaN    NaN    NaN    NaN
1993            NaN    NaN    NaN    NaN
1994            NaN    NaN    NaN    NaN
1995            NaN    NaN    NaN    NaN
1996            NaN    NaN   78.6    NaN
1997            NaN    NaN   86.0    NaN
1998            NaN    NaN   94.4    NaN
1999            NaN    NaN   95.9    NaN
2000          117.5  120.1   99.3    NaN
2001          117.2  129.3  100.2    NaN
2002          115.8  131.7   98.8    NaN
2003          115.0  137.2   99.0    NaN
2004          115.3  151.1  101.5    NaN
2005          118.3  174.0  105.8  138.4
2006          122.5  192.1  110.0  159.5
2007          128.3  199.6  110.5  160.0
2008          128.4  182.5  110.4  151.4
2009          119.5  124.8  107.0   49.4
2010          113.9   89.1   96.5   58.2
2011          111.3   82.1   94.3   70.4
2012          107.7   76.0   92.9   81.4
2013          102.8   76.3   93.0   88.7
2014          100.7   85.2   96.4   94.0
2015          100.0  100.0  100.0  100.0
2016          100.7  114.2  102.7  104.4
2017          102.8  123.6  108.4  108.8
2018          106.4  138.6  108.7  106.5
2019          109.6  146.0  111.8   79.0
2020          110.4  139.1    NaN   79.6
2021          113.0  143.4    NaN   94.4
2022          115.7  169.7    NaN   94.9

In [20]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.reset_index()
EmploymentNumberOfPersons

GEO (Labels)  Year     EU     IE     UK     TR
0             1990    NaN    NaN    NaN    NaN
1             1991    NaN    NaN    NaN    NaN
2             1992    NaN    NaN    NaN    NaN
3             1993    NaN    NaN    NaN    NaN
4             1994    NaN    NaN    NaN    NaN
5             1995    NaN    NaN    NaN    NaN
6             1996    NaN    NaN   78.6    NaN
7             1997    NaN    NaN   86.0    NaN
8             1998    NaN    NaN   94.4    NaN
9             1999    NaN    NaN   95.9    NaN
10            2000  117.5  120.1   99.3    NaN
11            2001  117.2  129.3  100.2    NaN
12            2002  115.8  131.7   98.8    NaN
13            2003  115.0  137.2   99.0    NaN
14            2004  115.3  151.1  101.5    NaN
15            2005  118.3  174.0  105.8  138.4
16            2006  122.5  192.1  110.0  159.5
17            2007  128.3  199.6  110.5  160.0
18            2008  128.4  182.5  110.4  151.4
19            2009  119.5  124.8  107.0   49.4
20            2010  113.9   89.1   96.5   58.2
21            2011  111.3   82.1   94.3   70.4
22            2012  107.7   76.0   92.9   81.4
23            2013  102.8   76.3   93.0   88.7
24            2014  100.7   85.2   96.4   94.0
25            2015  100.0  100.0  100.0  100.0
26            2016  100.7  114.2  102.7  104.4
27            2017  102.8  123.6  108.4  108.8
28            2018  106.4  138.6  108.7  106.5
29            2019  109.6  146.0  111.8   79.0
30            2020  110.4  139.1    NaN   79.6
31            2021  113.0  143.4    NaN   94.4
32            2022  115.7  169.7    NaN   94.9

In [21]:
# 2023034 - MAHMUT ZAHID MALKOC
ENOP_list = EmploymentNumberOfPersons.values.tolist()
ENOP_list

[['1990', nan, nan, nan, nan],
 ['1991', nan, nan, nan, nan],
 ['1992', nan, nan, nan, nan],
 ['1993', nan, nan, nan, nan],
 ['1994', nan, nan, nan, nan],
 ['1995', nan, nan, nan, nan],
 ['1996', nan, nan, 78.6, nan],
 ['1997', nan, nan, 86.0, nan],
 ['1998', nan, nan, 94.4, nan],
 ['1999', nan, nan, 95.9, nan],
 ['2000', 117.5, 120.1, 99.3, nan],
 ['2001', 117.2, 129.3, 100.2, nan],
 ['2002', 115.8, 131.7, 98.8, nan],
 ['2003', 115.0, 137.2, 99.0, nan],
 ['2004', 115.3, 151.1, 101.5, nan],
 ['2005', 118.3, 174.0, 105.8, 138.4],
 ['2006', 122.5, 192.1, 110.0, 159.5],
 ['2007', 128.3, 199.6, 110.5, 160.0],
 ['2008', 128.4, 182.5, 110.4, 151.4],
 ['2009', 119.5, 124.8, 107.0, 49.4],
 ['2010', 113.9, 89.1, 96.5, 58.2],
 ['2011', 111.3, 82.1, 94.3, 70.4],
 ['2012', 107.7, 76.0, 92.9, 81.4],
 ['2013', 102.8, 76.3, 93.0, 88.7],
 ['2014', 100.7, 85.2, 96.4, 94.0],
 ['2015', 100.0, 100.0, 100.0, 100.0],
 ['2016', 100.7, 114.2, 102.7, 104.4],
 ['2017', 102.8, 123.6, 108.4, 108.8],
 ['2018', 106.4, 138.6, 108.7, 106.5],
 ['2019', 109.6, 146.0, 111.8, 79.0],
 ['2020', 110.4, 139.1, nan, 79.6],
 ['2021', 113.0, 143.4, nan, 94.4],
 ['2022', 115.7, 169.7, nan, 94.9]]

In [22]:
# 2023034 - MAHMUT ZAHID MALKOC
columns = ['Year', 'EU', 'IE', 'UK', 'TR']
EmploymentNumberOfPersons = pd.DataFrame(ENOP_list, columns=columns)
EmploymentNumberOfPersons

    Year     EU     IE     UK     TR
0   1990    NaN    NaN    NaN    NaN
1   1991    NaN    NaN    NaN    NaN
2   1992    NaN    NaN    NaN    NaN
3   1993    NaN    NaN    NaN    NaN
4   1994    NaN    NaN    NaN    NaN
5   1995    NaN    NaN    NaN    NaN
6   1996    NaN    NaN   78.6    NaN
7   1997    NaN    NaN   86.0    NaN
8   1998    NaN    NaN   94.4    NaN
9   1999    NaN    NaN   95.9    NaN
10  2000  117.5  120.1   99.3    NaN
11  2001  117.2  129.3  100.2    NaN
12  2002  115.8  131.7   98.8    NaN
13  2003  115.0  137.2   99.0    NaN
14  2004  115.3  151.1  101.5    NaN
15  2005  118.3  174.0  105.8  138.4
16  2006  122.5  192.1  110.0  159.5
17  2007  128.3  199.6  110.5  160.0
18  2008  128.4  182.5  110.4  151.4
19  2009  119.5  124.8  107.0   49.4
20  2010  113.9   89.1   96.5   58.2
21  2011  111.3   82.1   94.3   70.4
22  2012  107.7   76.0   92.9   81.4
23  2013  102.8   76.3   93.0   88.7
24  2014  100.7   85.2   96.4   94.0
25  2015  100.0  100.0  100.0  100.0
26  2016  100.7  114.2  102.7  104.4
27  2017  102.8  123.6  108.4  108.8
28  2018  106.4  138.6  108.7  106.5
29  2019  109.6  146.0  111.8   79.0
30  2020  110.4  139.1    NaN   79.6
31  2021  113.0  143.4    NaN   94.4
32  2022  115.7  169.7    NaN   94.9

In [23]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons = EmploymentNumberOfPersons.add_prefix('ENOP_')
EmploymentNumberOfPersons = EmploymentNumberOfPersons.rename(columns={"ENOP_Year": "Year"})
EmploymentNumberOfPersons

    Year  ENOP_EU  ENOP_IE  ENOP_UK  ENOP_TR
0   1990      NaN      NaN      NaN      NaN
1   1991      NaN      NaN      NaN      NaN
2   1992      NaN      NaN      NaN      NaN
3   1993      NaN      NaN      NaN      NaN
4   1994      NaN      NaN      NaN      NaN
5   1995      NaN      NaN      NaN      NaN
6   1996      NaN      NaN     78.6      NaN
7   1997      NaN      NaN     86.0      NaN
8   1998      NaN      NaN     94.4      NaN
9   1999      NaN      NaN     95.9      NaN
10  2000    117.5    120.1     99.3      NaN
11  2001    117.2    129.3    100.2      NaN
12  2002    115.8    131.7     98.8      NaN
13  2003    115.0    137.2     99.0      NaN
14  2004    115.3    151.1    101.5      NaN
15  2005    118.3    174.0    105.8    138.4
16  2006    122.5    192.1    110.0    159.5
17  2007    128.3    199.6    110.5    160.0
18  2008    128.4    182.5    110.4    151.4
19  2009    119.5    124.8    107.0     49.4
20  2010    113.9     89.1     96.5     58.2
21  2011    111.3     82.1     94.3     70.4
22  2012    107.7     76.0     92.9     81.4
23  2013    102.8     76.3     93.0     88.7
24  2014    100.7     85.2     96.4     94.0
25  2015    100.0    100.0    100.0    100.0
26  2016    100.7    114.2    102.7    104.4
27  2017    102.8    123.6    108.4    108.8
28  2018    106.4    138.6    108.7    106.5
29  2019    109.6    146.0    111.8     79.0
30  2020    110.4    139.1      NaN     79.6
31  2021    113.0    143.4      NaN     94.4
32  2022    115.7    169.7      NaN     94.9

In [25]:
# 2023034 - MAHMUT ZAHID MALKOC
# The Raws are deleted if All Countries have NaN Values
rows_deleted = True
while rows_deleted:
    rows_deleted = False
    for index, row in EmploymentNumberOfPersons.iterrows():
        if row[['ENOP_EU', 'ENOP_IE', 'ENOP_UK', 'ENOP_TR']].isna().all():
            EmploymentNumberOfPersons.drop(index, inplace=True)
            rows_deleted = True
            break

EmploymentNumberOfPersons

    Year  ENOP_EU  ENOP_IE  ENOP_UK  ENOP_TR
6   1996      NaN      NaN     78.6      NaN
7   1997      NaN      NaN     86.0      NaN
8   1998      NaN      NaN     94.4      NaN
9   1999      NaN      NaN     95.9      NaN
10  2000    117.5    120.1     99.3      NaN
11  2001    117.2    129.3    100.2      NaN
12  2002    115.8    131.7     98.8      NaN
13  2003    115.0    137.2     99.0      NaN
14  2004    115.3    151.1    101.5      NaN
15  2005    118.3    174.0    105.8    138.4
16  2006    122.5    192.1    110.0    159.5
17  2007    128.3    199.6    110.5    160.0
18  2008    128.4    182.5    110.4    151.4
19  2009    119.5    124.8    107.0     49.4
20  2010    113.9     89.1     96.5     58.2
21  2011    111.3     82.1     94.3     70.4
22  2012    107.7     76.0     92.9     81.4
23  2013    102.8     76.3     93.0     88.7
24  2014    100.7     85.2     96.4     94.0
25  2015    100.0    100.0    100.0    100.0
26  2016    100.7    114.2    102.7    104.4
27  2017    102.8    123.6    108.4    108.8
28  2018    106.4    138.6    108.7    106.5
29  2019    109.6    146.0    111.8     79.0
30  2020    110.4    139.1      NaN     79.6
31  2021    113.0    143.4      NaN     94.4
32  2022    115.7    169.7      NaN     94.9

## Third Dataset
### Construction Producer Prices or Costs, New Residential Buildings - Annual Data BY EUROSTAT

In [26]:
# 2023034 - MAHMUT ZAHID MALKOC
from pyjstat import pyjstat
from pandas import json_normalize 
import requests

ConstructionProducePrice_URL = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/STS_COPI_A?format=JSON&lang=en&freq=A&indic_bt=CSTO&cpa2_1=CPA_F41001_X_410014&s_adj=NSA&unit=I15&geo=EU27_2020&geo=EA20&geo=EA19&geo=BE&geo=BG&geo=CZ&geo=DK&geo=DE&geo=EE&geo=IE&geo=EL&geo=ES&geo=FR&geo=HR&geo=IT&geo=CY&geo=LV&geo=LT&geo=LU&geo=HU&geo=MT&geo=NL&geo=AT&geo=PL&geo=PT&geo=RO&geo=SI&geo=SK&geo=FI&geo=SE&geo=NO&geo=CH&geo=UK&geo=BA&geo=ME&geo=MK&geo=AL&geo=TR&time=1990&time=1991&time=1992&time=1993&time=1994&time=1995&time=1996&time=1997&time=1998&time=1999&time=2000&time=2001&time=2002&time=2003&time=2004&time=2005&time=2006&time=2007&time=2008&time=2009&time=2010&time=2011&time=2012&time=2013&time=2014&time=2015&time=2016&time=2017&time=2018&time=2019&time=2020&time=2021&time=2022'

# read from json-stat
dataset = pyjstat.Dataset.read(ConstructionProducePrice_URL)

# write to dataframe
ConstructionProducePrice = dataset.write('dataframe')

# read from dataframe
dataset_from_ConstructionProducePrice = pyjstat.Dataset.read(ConstructionProducePrice)

ConstructionProducePrice

,Time frequency,Business trend indicator,Statistical Classification of Products by Activity (CPA 2.1),Seasonal adjustment,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1990,NaN
1,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1991,NaN
2,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1992,NaN
3,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1993,NaN
4,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1994,NaN
...,...,...,...,...,...,...,...,...
1249,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2018,161.4
1250,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2019,190.3
1251,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2020,214.8
1252,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2021,302.2
1253,Annual,Output price index in construction - in nation...,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2022,603.3

In [27]:
# 2023034 - MAHMUT ZAHID MALKOC
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
ConstructionProducePrice = ConstructionProducePrice[['Geopolitical entity (reporting)', 'Time', 'value']]

# Seçilen sütunları ekrana yazdır
ConstructionProducePrice

                Geopolitical entity (reporting)  Time  value
0     European Union - 27 countries (from 2020)  1990    NaN
1     European Union - 27 countries (from 2020)  1991    NaN
2     European Union - 27 countries (from 2020)  1992    NaN
3     European Union - 27 countries (from 2020)  1993    NaN
4     European Union - 27 countries (from 2020)  1994    NaN
...                                         ...   ...    ...
1249                                    Türkiye  2018  161.4
1250                                    Türkiye  2019  190.3
1251                                    Türkiye  2020  214.8
1252                                    Türkiye  2021  302.2
1253                                    Türkiye  2022  603.3

[1254 rows x 3 columns]

In [28]:
# 2023034 - MAHMUT ZAHID MALKOC
# column names are changed
ConstructionProducePrice = ConstructionProducePrice.rename(columns={'Geopolitical entity (reporting)': 'Country', 'Time': 'Year', 'value': 'Value'})
ConstructionProducePrice

                                        Country  Year  Value
0     European Union - 27 countries (from 2020)  1990    NaN
1     European Union - 27 countries (from 2020)  1991    NaN
2     European Union - 27 countries (from 2020)  1992    NaN
3     European Union - 27 countries (from 2020)  1993    NaN
4     European Union - 27 countries (from 2020)  1994    NaN
...                                         ...   ...    ...
1249                                    Türkiye  2018  161.4
1250                                    Türkiye  2019  190.3
1251                                    Türkiye  2020  214.8
1252                                    Türkiye  2021  302.2
1253                                    Türkiye  2022  603.3

[1254 rows x 3 columns]

In [29]:
# 2023034 - MAHMUT ZAHID MALKOC
countries = ['European Union - 27 countries (from 2020)','Ireland','United Kingdom','Türkiye']
ConstructionProducePrice = ConstructionProducePrice[ConstructionProducePrice['Country'].isin(countries)]
ConstructionProducePrice

                                        Country  Year  Value
0     European Union - 27 countries (from 2020)  1990    NaN
1     European Union - 27 countries (from 2020)  1991    NaN
2     European Union - 27 countries (from 2020)  1992    NaN
3     European Union - 27 countries (from 2020)  1993    NaN
4     European Union - 27 countries (from 2020)  1994    NaN
...                                         ...   ...    ...
1249                                    Türkiye  2018  161.4
1250                                    Türkiye  2019  190.3
1251                                    Türkiye  2020  214.8
1252                                    Türkiye  2021  302.2
1253                                    Türkiye  2022  603.3

[132 rows x 3 columns]

In [30]:
# 2023034 - MAHMUT ZAHID MALKOC
CPP_list = ConstructionProducePrice.values.tolist()
CPP_list

[['European Union - 27 countries (from 2020)', '1990', nan],
 ['European Union - 27 countries (from 2020)', '1991', nan],
 ['European Union - 27 countries (from 2020)', '1992', nan],
 ['European Union - 27 countries (from 2020)', '1993', nan],
 ['European Union - 27 countries (from 2020)', '1994', nan],
 ['European Union - 27 countries (from 2020)', '1995', 69.6],
 ['European Union - 27 countries (from 2020)', '1996', 70.4],
 ['European Union - 27 countries (from 2020)', '1997', 71.2],
 ['European Union - 27 countries (from 2020)', '1998', 71.6],
 ['European Union - 27 countries (from 2020)', '1999', 72.1],
 ['European Union - 27 countries (from 2020)', '2000', 73.5],
 ['European Union - 27 countries (from 2020)', '2001', 75.2],
 ['European Union - 27 countries (from 2020)', '2002', 76.4],
 ['European Union - 27 countries (from 2020)', '2003', 77.7],
 ['European Union - 27 countries (from 2020)', '2004', 80.4],
 ['European Union - 27 countries (from 2020)', '2005', 82.5],
 ['European Union - 27 countries (from 2020)', '2006', 86.0],
 ['European Union - 27 countries (from 2020)', '2007', 90.0],
 ['European Union - 27 countries (from 2020)', '2008', 94.4],
 ['European Union - 27 countries (from 2020)', '2009', 93.8],
 ['European Union - 27 countries (from 2020)', '2010', 94.5],
 ['European Union - 27 countries (from 2020)', '2011', 97.4],
 ['European Union - 27 countries (from 2020)', '2012', 99.1],
 ['European Union - 27 countries (from 2020)', '2013', 99.3],
 ['European Union - 27 countries (from 2020)', '2014', 99.9],
 ['European Union - 27 countries (from 2020)', '2015', 100.0],
 ['European Union - 27 countries (from 2020)', '2016', 100.9],
 ['European Union - 27 countries (from 2020)', '2017', 103.2],
 ['European Union - 27 countries (from 2020)', '2018', 106.7],
 ['European Union - 27 countries (from 2020)', '2019', 109.9],
 ['European Union - 27 countries (from 2020)', '2020', 111.8],
 ['European Union - 27 countries (from 2020)', '2021', 118.1],
 ['European Union - 27 countries (from 2020)', '2022', 132.1],
 ['Ireland', '1990', nan],
 ['Ireland', '1991', nan],
 ['Ireland', '1992', nan],
 ['Ireland', '1993', nan],
 ['Ireland', '1994', nan],
 ['Ireland', '1995', nan],
 ['Ireland', '1996', nan],
 ['Ireland', '1997', nan],
 ['Ireland', '1998', nan],
 ['Ireland', '1999', nan],
 ['Ireland', '2000', 64.9],
 ['Ireland', '2001', 75.8],
 ['Ireland', '2002', 78.9],
 ['Ireland', '2003', 86.8],
 ['Ireland', '2004', 97.9],
 ['Ireland', '2005', 106.4],
 ['Ireland', '2006', 116.6],
 ['Ireland', '2007', 118.6],
 ['Ireland', '2008', 109.5],
 ['Ireland', '2009', 98.8],
 ['Ireland', '2010', 99.3],
 ['Ireland', '2011', 97.1],
 ['Ireland', '2012', 98.1],
 ['Ireland', '2013', 98.9],
 ['Ireland', '2014', 99.5],
 ['Ireland', '2015', 100.0],
 ['Ireland', '2016', 100.4],
 ['Ireland', '2017', 101.7],
 ['Ireland', '2018', 105.8],
 ['Ireland', '2019', 108.2],
 ['Ireland', '2020', 109.4],
 ['Ireland', '2021', 115.3],
 ['Ireland', '2022', 127.6],
 ['United Kingdom', '1990', nan],
 ['United Kingdom', '1991', nan],
 ['United Kingdom', '1992', nan],
 ['United Kingdom', '1993', 39.1],
 ['United Kingdom', '1994', 41.6],
 ['United Kingdom', '1995', 42.5],
 ['United Kingdom', '1996', 43.1],
 ['United Kingdom', '1997', 45.6],
 ['United Kingdom', '1998', 48.5],
 ['United Kingdom', '1999', 53.1],
 ['United Kingdom', '2000', 56.6],
 ['United Kingdom', '2001', 60.6],
 ['United Kingdom', '2002', 66.6],
 ['United Kingdom', '2003', 70.3],
 ['United Kingdom', '2004', 73.3],
 ['United Kingdom', '2005', 77.3],
 ['United Kingdom', '2006', 81.7],
 ['United Kingdom', '2007', 84.3],
 ['United Kingdom', '2008', 88.7],
 ['United Kingdom', '2009', 91.1],
 ['United Kingdom', '2010', 90.6],
 ['United Kingdom', '2011', 91.8],
 ['United Kingdom', '2012', 94.0],
 ['United Kingdom', '2013', 96.3],
 ['United Kingdom', '2014', 99.2],
 ['United Kingdom', '2015', 100.0],
 ['United Kingdom', '2016', 103.0],
 ['United Kingdom', '2017', 107.2],
 ['United Kingdom', '2018', 111.2],
 ['United Kingdom', '2019', 114.5],
 ['United Kingdom', '2020', nan],
 ['United Kingdom', '2021', nan],
 ['United Kingdom', '2022', nan],
 ['Türkiye', '1990', nan],
 ['Türkiye', '1991', nan],
 ['Türkiye', '1992', nan],
 ['Türkiye', '1993', nan],
 ['Türkiye', '1994', nan],
 ['Türkiye', '1995', nan],
 ['Türkiye', '1996', nan],
 ['Türkiye', '1997', nan],
 ['Türkiye', '1998', nan],
 ['Türkiye', '1999', nan],
 ['Türkiye', '2000', 14.7],
 ['Türkiye', '2001', 23.0],
 ['Türkiye', '2002', 31.3],
 ['Türkiye', '2003', 38.0],
 ['Türkiye', '2004', 43.5],
 ['Türkiye', '2005', 47.3],
 ['Türkiye', '2006', 54.8],
 ['Türkiye', '2007', 59.4],
 ['Türkiye', '2008', 67.6],
 ['Türkiye', '2009', 64.8],
 ['Türkiye', '2010', 68.5],
 ['Türkiye', '2011', 77.0],
 ['Türkiye', '2012', 81.2],
 ['Türkiye', '2013', 85.4],
 ['Türkiye', '2014', 94.4],
 ['Türkiye', '2015', 100.0],
 ['Türkiye', '2016', 112.8],
 ['Türkiye', '2017', 128.9],
 ['Türkiye', '2018', 161.4],
 ['Türkiye', '2019', 190.3],
 ['Türkiye', '2020', 214.8],
 ['Türkiye', '2021', 302.2],
 ['Türkiye', '2022', 603.3]]

In [31]:
# 2023034 - MAHMUT ZAHID MALKOC
# Values in European Union by years
CPP_data = ConstructionProducePrice[ConstructionProducePrice['Country'] == 'European Union - 27 countries (from 2020)']
CPP_data = CPP_data[['Year', 'Value']].set_index('Year').rename(columns={'Value': 'European Union'})
CPP_data

      European Union
Year
1990             NaN
1991             NaN
1992             NaN
1993             NaN
1994             NaN
1995            69.6
1996            70.4
1997            71.2
1998            71.6
1999            72.1
2000            73.5
2001            75.2
2002            76.4
2003            77.7
2004            80.4
2005            82.5
2006            86.0
2007            90.0
2008            94.4
2009            93.8
2010            94.5
2011            97.4
2012            99.1
2013            99.3
2014            99.9
2015           100.0
2016           100.9
2017           103.2
2018           106.7
2019           109.9
2020           111.8
2021           118.1
2022           132.1

In [32]:
# 2023034 - MAHMUT ZAHID MALKOC
for country in countries:
    if country == 'European Union - 27 countries (from 2020)':
        continue
    FourCountry_data = ConstructionProducePrice[ConstructionProducePrice['Country'] == country][['Year', 'Value']].set_index('Year').rename(columns={'Value': country})
    CPP_data = CPP_data.merge(FourCountry_data, how='outer', left_index=True, right_index=True)
CPP_data

      European Union  Ireland  United Kingdom  Türkiye
Year
1990             NaN      NaN             NaN      NaN
1991             NaN      NaN             NaN      NaN
1992             NaN      NaN             NaN      NaN
1993             NaN      NaN            39.1      NaN
1994             NaN      NaN            41.6      NaN
1995            69.6      NaN            42.5      NaN
1996            70.4      NaN            43.1      NaN
1997            71.2      NaN            45.6      NaN
1998            71.6      NaN            48.5      NaN
1999            72.1      NaN            53.1      NaN
2000            73.5     64.9            56.6     14.7
2001            75.2     75.8            60.6     23.0
2002            76.4     78.9            66.6     31.3
2003            77.7     86.8            70.3     38.0
2004            80.4     97.9            73.3     43.5
2005            82.5    106.4            77.3     47.3
2006            86.0    116.6            81.7     54.8
2007            90.0    118.6            84.3     59.4
2008            94.4    109.5            88.7     67.6
2009            93.8     98.8            91.1     64.8
2010            94.5     99.3            90.6     68.5
2011            97.4     97.1            91.8     77.0
2012            99.1     98.1            94.0     81.2
2013            99.3     98.9            96.3     85.4
2014            99.9     99.5            99.2     94.4
2015           100.0    100.0           100.0    100.0
2016           100.9    100.4           103.0    112.8
2017           103.2    101.7           107.2    128.9
2018           106.7    105.8           111.2    161.4
2019           109.9    108.2           114.5    190.3
2020           111.8    109.4             NaN    214.8
2021           118.1    115.3             NaN    302.2
2022           132.1    127.6             NaN    603.3

In [34]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice = CPP_data.rename(columns={"European Union": "EU",
                                                    "Ireland": "IE",
                                                    "United Kingdom": "UK",
                                                    "Türkiye": "TR",})
ConstructionProducePrice

         EU     IE     UK     TR
Year
1990    NaN    NaN    NaN    NaN
1991    NaN    NaN    NaN    NaN
1992    NaN    NaN    NaN    NaN
1993    NaN    NaN   39.1    NaN
1994    NaN    NaN   41.6    NaN
1995   69.6    NaN   42.5    NaN
1996   70.4    NaN   43.1    NaN
1997   71.2    NaN   45.6    NaN
1998   71.6    NaN   48.5    NaN
1999   72.1    NaN   53.1    NaN
2000   73.5   64.9   56.6   14.7
2001   75.2   75.8   60.6   23.0
2002   76.4   78.9   66.6   31.3
2003   77.7   86.8   70.3   38.0
2004   80.4   97.9   73.3   43.5
2005   82.5  106.4   77.3   47.3
2006   86.0  116.6   81.7   54.8
2007   90.0  118.6   84.3   59.4
2008   94.4  109.5   88.7   67.6
2009   93.8   98.8   91.1   64.8
2010   94.5   99.3   90.6   68.5
2011   97.4   97.1   91.8   77.0
2012   99.1   98.1   94.0   81.2
2013   99.3   98.9   96.3   85.4
2014   99.9   99.5   99.2   94.4
2015  100.0  100.0  100.0  100.0
2016  100.9  100.4  103.0  112.8
2017  103.2  101.7  107.2  128.9
2018  106.7  105.8  111.2  161.4
2019  109.9  108.2  114.5  190.3
2020  111.8  109.4    NaN  214.8
2021  118.1  115.3    NaN  302.2
2022  132.1  127.6    NaN  603.3

In [35]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice.reset_index(inplace=True)
ConstructionProducePrice

    Year     EU     IE     UK     TR
0   1990    NaN    NaN    NaN    NaN
1   1991    NaN    NaN    NaN    NaN
2   1992    NaN    NaN    NaN    NaN
3   1993    NaN    NaN   39.1    NaN
4   1994    NaN    NaN   41.6    NaN
5   1995   69.6    NaN   42.5    NaN
6   1996   70.4    NaN   43.1    NaN
7   1997   71.2    NaN   45.6    NaN
8   1998   71.6    NaN   48.5    NaN
9   1999   72.1    NaN   53.1    NaN
10  2000   73.5   64.9   56.6   14.7
11  2001   75.2   75.8   60.6   23.0
12  2002   76.4   78.9   66.6   31.3
13  2003   77.7   86.8   70.3   38.0
14  2004   80.4   97.9   73.3   43.5
15  2005   82.5  106.4   77.3   47.3
16  2006   86.0  116.6   81.7   54.8
17  2007   90.0  118.6   84.3   59.4
18  2008   94.4  109.5   88.7   67.6
19  2009   93.8   98.8   91.1   64.8
20  2010   94.5   99.3   90.6   68.5
21  2011   97.4   97.1   91.8   77.0
22  2012   99.1   98.1   94.0   81.2
23  2013   99.3   98.9   96.3   85.4
24  2014   99.9   99.5   99.2   94.4
25  2015  100.0  100.0  100.0  100.0
26  2016  100.9  100.4  103.0  112.8
27  2017  103.2  101.7  107.2  128.9
28  2018  106.7  105.8  111.2  161.4
29  2019  109.9  108.2  114.5  190.3
30  2020  111.8  109.4    NaN  214.8
31  2021  118.1  115.3    NaN  302.2
32  2022  132.1  127.6    NaN  603.3

In [36]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice = ConstructionProducePrice.add_prefix('CPP_')
ConstructionProducePrice = ConstructionProducePrice.rename(columns={"CPP_Year": "Year"})
ConstructionProducePrice

    Year  CPP_EU  CPP_IE  CPP_UK  CPP_TR
0   1990     NaN     NaN     NaN     NaN
1   1991     NaN     NaN     NaN     NaN
2   1992     NaN     NaN     NaN     NaN
3   1993     NaN     NaN    39.1     NaN
4   1994     NaN     NaN    41.6     NaN
5   1995    69.6     NaN    42.5     NaN
6   1996    70.4     NaN    43.1     NaN
7   1997    71.2     NaN    45.6     NaN
8   1998    71.6     NaN    48.5     NaN
9   1999    72.1     NaN    53.1     NaN
10  2000    73.5    64.9    56.6    14.7
11  2001    75.2    75.8    60.6    23.0
12  2002    76.4    78.9    66.6    31.3
13  2003    77.7    86.8    70.3    38.0
14  2004    80.4    97.9    73.3    43.5
15  2005    82.5   106.4    77.3    47.3
16  2006    86.0   116.6    81.7    54.8
17  2007    90.0   118.6    84.3    59.4
18  2008    94.4   109.5    88.7    67.6
19  2009    93.8    98.8    91.1    64.8
20  2010    94.5    99.3    90.6    68.5
21  2011    97.4    97.1    91.8    77.0
22  2012    99.1    98.1    94.0    81.2
23  2013    99.3    98.9    96.3    85.4
24  2014    99.9    99.5    99.2    94.4
25  2015   100.0   100.0   100.0   100.0
26  2016   100.9   100.4   103.0   112.8
27  2017   103.2   101.7   107.2   128.9
28  2018   106.7   105.8   111.2   161.4
29  2019   109.9   108.2   114.5   190.3
30  2020   111.8   109.4     NaN   214.8
31  2021   118.1   115.3     NaN   302.2
32  2022   132.1   127.6     NaN   603.3

In [37]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice.isnull().sum()

Year       0
CPP_EU     5
CPP_IE    10
CPP_UK     6
CPP_TR    10
dtype: int64

In [38]:
# 2023034 - MAHMUT ZAHID MALKOC
# The Raws are deleted if All Countries have NaN Values
rows_deleted = True
while rows_deleted:
    rows_deleted = False
    for index, row in ConstructionProducePrice.iterrows():
        if row[['CPP_EU', 'CPP_IE', 'CPP_UK', 'CPP_TR']].isna().all():
            ConstructionProducePrice.drop(index, inplace=True)
            rows_deleted = True
            break

ConstructionProducePrice

    Year  CPP_EU  CPP_IE  CPP_UK  CPP_TR
3   1993     NaN     NaN    39.1     NaN
4   1994     NaN     NaN    41.6     NaN
5   1995    69.6     NaN    42.5     NaN
6   1996    70.4     NaN    43.1     NaN
7   1997    71.2     NaN    45.6     NaN
8   1998    71.6     NaN    48.5     NaN
9   1999    72.1     NaN    53.1     NaN
10  2000    73.5    64.9    56.6    14.7
11  2001    75.2    75.8    60.6    23.0
12  2002    76.4    78.9    66.6    31.3
13  2003    77.7    86.8    70.3    38.0
14  2004    80.4    97.9    73.3    43.5
15  2005    82.5   106.4    77.3    47.3
16  2006    86.0   116.6    81.7    54.8
17  2007    90.0   118.6    84.3    59.4
18  2008    94.4   109.5    88.7    67.6
19  2009    93.8    98.8    91.1    64.8
20  2010    94.5    99.3    90.6    68.5
21  2011    97.4    97.1    91.8    77.0
22  2012    99.1    98.1    94.0    81.2
23  2013    99.3    98.9    96.3    85.4
24  2014    99.9    99.5    99.2    94.4
25  2015   100.0   100.0   100.0   100.0
26  2016   100.9   100.4   103.0   112.8
27  2017   103.2   101.7   107.2   128.9
28  2018   106.7   105.8   111.2   161.4
29  2019   109.9   108.2   114.5   190.3
30  2020   111.8   109.4     NaN   214.8
31  2021   118.1   115.3     NaN   302.2
32  2022   132.1   127.6     NaN   603.3

# DATA PREPARATION

In [39]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits.head()

   Year  BP_EU  BP_IE  BP_UK  BP_TR
0  1992    NaN    NaN    NaN   42.6
1  1993    NaN    NaN    NaN   49.6
2  1994    NaN    NaN    NaN   47.6
3  1995    NaN    NaN    NaN   49.0
4  1996    NaN    NaN    NaN   45.9

In [40]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons.head()

    Year  ENOP_EU  ENOP_IE  ENOP_UK  ENOP_TR
6   1996      NaN      NaN     78.6      NaN
7   1997      NaN      NaN     86.0      NaN
8   1998      NaN      NaN     94.4      NaN
9   1999      NaN      NaN     95.9      NaN
10  2000    117.5    120.1     99.3      NaN

In [41]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice.head()

   Year  CPP_EU  CPP_IE  CPP_UK  CPP_TR
3  1993     NaN     NaN    39.1     NaN
4  1994     NaN     NaN    41.6     NaN
5  1995    69.6     NaN    42.5     NaN
6  1996    70.4     NaN    43.1     NaN
7  1997    71.2     NaN    45.6     NaN

## COMBINING DATASETS

In [42]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits.dtypes

Year       int64
BP_EU    float64
BP_IE    float64
BP_UK    float64
BP_TR    float64
dtype: object

In [43]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons.dtypes

Year        object
ENOP_EU    float64
ENOP_IE    float64
ENOP_UK    float64
ENOP_TR    float64
dtype: object

In [44]:
# 2023034 - MAHMUT ZAHID MALKOC
EmploymentNumberOfPersons['Year'] = EmploymentNumberOfPersons['Year'].astype('int64')
EmploymentNumberOfPersons.dtypes

Year         int64
ENOP_EU    float64
ENOP_IE    float64
ENOP_UK    float64
ENOP_TR    float64
dtype: object

In [45]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice.dtypes

Year       object
CPP_EU    float64
CPP_IE    float64
CPP_UK    float64
CPP_TR    float64
dtype: object

In [46]:
# 2023034 - MAHMUT ZAHID MALKOC
ConstructionProducePrice['Year'] = ConstructionProducePrice['Year'].astype('int64')
ConstructionProducePrice.dtypes

Year        int64
CPP_EU    float64
CPP_IE    float64
CPP_UK    float64
CPP_TR    float64
dtype: object

In [47]:
# 2023034 - MAHMUT ZAHID MALKOC
merged_df = BuildingsPermits.merge(EmploymentNumberOfPersons, on="Year")
merged_df

    Year  BP_EU  BP_IE  BP_UK  BP_TR  ENOP_EU  ENOP_IE  ENOP_UK  ENOP_TR
0   1996    NaN    NaN    NaN   45.9      NaN      NaN     78.6      NaN
1   1997    NaN    NaN    NaN   48.8      NaN      NaN     86.0      NaN
2   1998    NaN    NaN  118.9   46.1      NaN      NaN     94.4      NaN
3   1999    NaN    NaN  116.6   36.8      NaN      NaN     95.9      NaN
4   2000    NaN  394.0  114.1   36.1    117.5    120.1     99.3      NaN
5   2001    NaN  365.0  115.7   33.8    117.2    129.3    100.2      NaN
6   2002    NaN  322.4  113.4   21.5    115.8    131.7     98.8      NaN
7   2003    NaN  341.3  117.3   26.9    115.0    137.2     99.0      NaN
8   2004    NaN  429.6  125.6   40.7    115.3    151.1    101.5      NaN
9   2005  263.6  456.6  120.8   61.8    118.3    174.0    105.8    138.4
10  2006  294.3  436.3  120.6   71.0    122.5    192.1    110.0    159.5
11  2007  275.9  542.2  128.1   72.4    128.3    199.6    110.5    160.0
12  2008  202.4  377.8  103.6   57.8    128.4    182.5    110.4    151.4
13  2009  146.9  226.5   91.2   56.0    119.5    124.8    107.0     49.4
14  2010  131.3  110.5   87.1   97.5    113.9     89.1     96.5     58.2
15  2011  129.2   83.5   85.7   67.3    111.3     82.1     94.3     70.4
16  2012  113.0   61.3   88.8   86.2    107.7     76.0     92.9     81.4
17  2013   99.1   65.7   78.9   95.5    102.8     76.3     93.0     88.7
18  2014   95.0   61.3   90.5  119.3    100.7     85.2     96.4     94.0
19  2015  100.0  100.0  100.0  100.0    100.0    100.0    100.0    100.0
20  2016  113.6  115.9  102.1  107.1    100.7    114.2    102.7    104.4
21  2017  123.6  126.0  101.9  145.7    102.8    123.6    108.4    108.8
22  2018  129.2  162.6  103.5   79.0    106.4    138.6    108.7    106.5
23  2019  128.8  184.1   96.5   39.0    109.6    146.0    111.8     79.0
24  2020  114.8  181.8    NaN   59.0    110.4    139.1      NaN     79.6
25  2021  133.5  191.6    NaN   79.2    113.0    143.4      NaN     94.4
26  2022  131.6  158.9    NaN   71.6    115.7    169.7      NaN     94.9

In [48]:
# 2023034 - MAHMUT ZAHID MALKOC
df = merged_df.merge(ConstructionProducePrice, on="Year")
df

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,NaN,NaN,NaN,45.9,NaN,NaN,78.6,NaN,70.4,NaN,43.1,NaN
1,1997,NaN,NaN,NaN,48.8,NaN,NaN,86.0,NaN,71.2,NaN,45.6,NaN
2,1998,NaN,NaN,118.9,46.1,NaN,NaN,94.4,NaN,71.6,NaN,48.5,NaN
3,1999,NaN,NaN,116.6,36.8,NaN,NaN,95.9,NaN,72.1,NaN,53.1,NaN
4,2000,NaN,394.0,114.1,36.1,117.5,120.1,99.3,NaN,73.5,64.9,56.6,14.7
5,2001,NaN,365.0,115.7,33.8,117.2,129.3,100.2,NaN,75.2,75.8,60.6,23.0
6,2002,NaN,322.4,113.4,21.5,115.8,131.7,98.8,NaN,76.4,78.9,66.6,31.3
7,2003,NaN,341.3,117.3,26.9,115.0,137.2,99.0,NaN,77.7,86.8,70.3,38.0
8,2004,NaN,429.6,125.6,40.7,115.3,151.1,101.5,NaN,80.4,97.9,73.3,43.5
9,2005,263.6,456.6,120.8,61.8,118.3,174.0,105.8,138.4,82.5,106.4,77.3,47.3
10,2006,294.3,436.3,120.6,71.0,122.5,192.1,110.0,159.5,86.0,116.6,81.7,54.8
11,2007,275.9,542.2,128.1,72.4,128.3,199.6,110.5,160.0,90.0,118.6,84.3,59.4
12,2008,202.4,377.8,103.6,57.8,128.4,182.5,110.4,151.4,94.4,109.5,88.7,67.6
13,2009,146.9,226.5,91.2,56.0,119.5,124.8,107.0,49.4,93.8,98.8,91.1,64.8
14,2010,131.3,110.5,87.1,97.5,113.9,89.1,96.5,58.2,94.5,99.3,90.6,68.5
15,2011,129.2,83.5,85.7,67.3,111.3,82.1,94.3,70.4,97.4,97.1,91.8,77.0
16,2012,113.0,61.3,88.8,86.2,107.7,76.0,92.9,81.4,99.1,98.1,94.0,81.2
17,2013,99.1,65.7,78.9,95.5,102.8,76.3,93.0,88.7,99.3,98.9,96.3,85.4
18,2014,95.0,61.3,90.5,119.3,100.7,85.2,96.4,94.0,99.9,99.5,99.2,94.4
19,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
20,2016,113.6,115.9,102.1,107.1,100.7,114.2,102.7,104.4,100.9,100.4,103.0,112.8
21,2017,123.6,126.0,101.9,145.7,102.8,123.6,108.4,108.8,103.2,101.7,107.2,128.9
22,2018,129.2,162.6,103.5,79.0,106.4,138.6,108.7,106.5,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.5,39.0,109.6,146.0,111.8,79.0,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,NaN,59.0,110.4,139.1,NaN,79.6,111.8,109.4,NaN,214.8
25,2021,133.5,191.6,NaN,79.2,113.0,143.4,NaN,94.4,118.1,115.3,NaN,302.2
26,2022,131.6,158.9,NaN,71.6,115.7,169.7,NaN,94.9,132.1,127.6,NaN,603.3

## DataFrame Information

In [49]:
# 2023034 - MAHMUT ZAHID MALKOC
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     27 non-null     int64
 1   BP_EU    18 non-null     float64
 2   BP_IE    23 non-null     float64
 3   BP_UK    22 non-null     float64
 4   BP_TR    27 non-null     float64
 5   ENOP_EU  23 non-null     float64
 6   ENOP_IE  23 non-null     float64
 7   ENOP_UK  24 non-null     float64
 8   ENOP_TR  18 non-null     float64
 9   CPP_EU   27 non-null     float64
 10  CPP_IE   23 non-null     float64
 11  CPP_UK   24 non-null     float64
 12  CPP_TR   23 non-null     float64
dtypes: float64(12), int64(1)
memory usage: 3.0 KB

In [50]:
# 2023034 - MAHMUT ZAHID MALKOC
df.ndim

2

In [51]:
# 2023034 - MAHMUT ZAHID MALKOC
df.shape

(27, 13)

In [52]:
# 2023034 - MAHMUT ZAHID MALKOC
df.size

351

In [53]:
# 2023034 - MAHMUT ZAHID MALKOC
df.keys()

Index(['Year', 'BP_EU', 'BP_IE', 'BP_UK', 'BP_TR', 'ENOP_EU', 'ENOP_IE',
       'ENOP_UK', 'ENOP_TR', 'CPP_EU', 'CPP_IE', 'CPP_UK', 'CPP_TR'],
      dtype='object')

In [54]:
# 2023034 - MAHMUT ZAHID MALKOC
df.head()

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,NaN,NaN,NaN,45.9,NaN,NaN,78.6,NaN,70.4,NaN,43.1,NaN
1,1997,NaN,NaN,NaN,48.8,NaN,NaN,86.0,NaN,71.2,NaN,45.6,NaN
2,1998,NaN,NaN,118.9,46.1,NaN,NaN,94.4,NaN,71.6,NaN,48.5,NaN
3,1999,NaN,NaN,116.6,36.8,NaN,NaN,95.9,NaN,72.1,NaN,53.1,NaN
4,2000,NaN,394.0,114.1,36.1,117.5,120.1,99.3,NaN,73.5,64.9,56.6,14.7

In [55]:
# 2023034 - MAHMUT ZAHID MALKOC
df.tail()

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
22,2018,129.2,162.6,103.5,79.0,106.4,138.6,108.7,106.5,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.5,39.0,109.6,146.0,111.8,79.0,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,NaN,59.0,110.4,139.1,NaN,79.6,111.8,109.4,NaN,214.8
25,2021,133.5,191.6,NaN,79.2,113.0,143.4,NaN,94.4,118.1,115.3,NaN,302.2
26,2022,131.6,158.9,NaN,71.6,115.7,169.7,NaN,94.9,132.1,127.6,NaN,603.3

In [56]:
# 2023034 - MAHMUT ZAHID MALKOC
df.isnull().sum()

Year       0
BP_EU      9
BP_IE      4
BP_UK      5
BP_TR      0
ENOP_EU    4
ENOP_IE    4
ENOP_UK    3
ENOP_TR    9
CPP_EU     0
CPP_IE     4
CPP_UK     3
CPP_TR     4
dtype: int64

In [57]:
# 2023034 - MAHMUT ZAHID MALKOC
df.isnull()

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,False,True,True,True,False,True,True,False,True,False,True,False,True
1,False,True,True,True,False,True,True,False,True,False,True,False,True
2,False,True,True,False,False,True,True,False,True,False,True,False,True
3,False,True,True,False,False,True,True,False,True,False,True,False,True
4,False,True,False,False,False,False,False,False,True,False,False,False,False
5,False,True,False,False,False,False,False,False,True,False,False,False,False
6,False,True,False,False,False,False,False,False,True,False,False,False,False
7,False,True,False,False,False,False,False,False,True,False,False,False,False
8,False,True,False,False,False,False,False,False,True,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,True,False,False,False,True,False,False,False,True,False
25,False,False,False,True,False,False,False,True,False,False,False,True,False
26,False,False,False,True,False,False,False,True,False,False,False,True,False

In [58]:
# 2023034 - MAHMUT ZAHID MALKOC
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
dtype: bool

In [59]:
# 2023034 - MAHMUT ZAHID MALKOC
df.describe()

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
count,27.000000,18.000000,23.000000,22.000000,27.000000,23.000000,23.000000,24.000000,18.000000,27.000000,23.000000,24.000000,23.000000
mean,2009.000000,151.433333,238.908696,105.495455,66.740741,112.730435,131.552174,100.087500,101.055556,92.151852,100.673913,81.191667,115.852174
std,7.937254,62.927428,149.725227,14.391151,30.209235,8.162577,36.366729,8.230659,32.524836,16.106410,14.121783,21.479250,126.195357
min,1996.000000,95.000000,61.300000,78.900000,21.500000,100.000000,76.000000,78.600000,49.400000,70.400000,64.900000,43.100000,14.700000
25%,2002.500000,113.900000,113.200000,92.525000,43.300000,107.050000,107.100000,95.525000,80.050000,77.050000,98.000000,65.100000,51.050000
50%,2009.000000,129.200000,184.100000,103.550000,61.800000,113.900000,131.700000,99.650000,94.650000,94.400000,100.000000,86.500000,77.000000
75%,2015.500000,143.550000,371.400000,117.125000,82.700000,117.350000,148.550000,107.350000,108.225000,100.450000,108.800000,97.025000,120.850000
max,2022.000000,294.300000,542.200000,128.100000,145.700000,128.400000,199.600000,111.800000,160.000000,132.100000,127.600000,114.500000,603.300000

In [60]:
# 2023034 - MAHMUT ZAHID MALKOC
from skimpy import skim
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 27     │ │ float64     │ 12    │                                                          │
│ │ Number of columns │ 13     │ │ int32       │ 1     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━┓  │
│ ┃ column_name        ┃ NA   ┃ NA %    ┃ mean    ┃ sd     ┃ p0      ┃ p25     ┃ p75     ┃ p100    ┃ hist      ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━┩  │
│ │ Year               │    0 │       0 │    2000 │    7.9 │    2000 │    2000 │    2000 │    2000 │  █▆▆█▆█   │  │
│ │ BP_EU              │    9 │      33 │     150 │     63 │      95 │     110 │     140 │     290 │  ██ ▁ ▃   │  │
│ │ BP_IE              │    4 │      15 │     240 │    150 │      61 │     110 │     370 │     540 │  █▅▁▄▄▁   │  │
│ │ BP_UK              │    5 │      19 │     110 │     14 │      79 │      93 │     120 │     130 │  ▄▄▅▃█▅   │  │
│ │ BP_TR              │    0 │       0 │      67 │     30 │      22 │      43 │      83 │     150 │  ██▇▅▂▁   │  │
│ │ ENOP_EU            │    4 │      15 │     110 │    8.2 │     100 │     110 │     120 │     130 │  ▆▂▆█▂▂   │  │
│ │ ENOP_IE            │    4 │      15 │     130 │     36 │      76 │     110 │     150 │     200 │  ▇▃█▇▃▄   │  │
│ │ ENOP_UK            │    3 │      11 │     100 │    8.2 │      79 │      96 │     110 │     110 │  ▁▁▄█▃▇   │  │
│ │ ENOP_TR            │    9 │      33 │     100 │     33 │      49 │      80 │     110 │     160 │  ▃▅█▃▁▄   │  │
│ │ CPP_EU             │    0 │       0 │      92 │     16 │      70 │      77 │     100 │     130 │  █▃█▃▂▁   │  │
│ │ CPP_IE             │    4 │      15 │     100 │     14 │      65 │      98 │     110 │     130 │  ▁▁▁█▃▁   │  │
│ │ CPP_UK             │    3 │      11 │      81 │     21 │      43 │      65 │      97 │     110 │  ▅▄▄▅█▅   │  │
│ │ CPP_TR             │    4 │      15 │     120 │    130 │      15 │      51 │     120 │     600 │    █▂▁    │  │
│ └────────────────────┴──────┴─────────┴─────────┴────────┴─────────┴─────────┴─────────┴─────────┴───────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Missing Values

In [61]:
# 2023034 - MAHMUT ZAHID MALKOC
df.fillna(100)

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,100.0,100.0,100.0,45.9,100.0,100.0,78.6,100.0,70.4,100.0,43.1,100.0
1,1997,100.0,100.0,100.0,48.8,100.0,100.0,86.0,100.0,71.2,100.0,45.6,100.0
2,1998,100.0,100.0,118.9,46.1,100.0,100.0,94.4,100.0,71.6,100.0,48.5,100.0
3,1999,100.0,100.0,116.6,36.8,100.0,100.0,95.9,100.0,72.1,100.0,53.1,100.0
4,2000,100.0,394.0,114.1,36.1,117.5,120.1,99.3,100.0,73.5,64.9,56.6,14.7
5,2001,100.0,365.0,115.7,33.8,117.2,129.3,100.2,100.0,75.2,75.8,60.6,23.0
6,2002,100.0,322.4,113.4,21.5,115.8,131.7,98.8,100.0,76.4,78.9,66.6,31.3
7,2003,100.0,341.3,117.3,26.9,115.0,137.2,99.0,100.0,77.7,86.8,70.3,38.0
8,2004,100.0,429.6,125.6,40.7,115.3,151.1,101.5,100.0,80.4,97.9,73.3,43.5
9,2005,263.6,456.6,120.8,61.8,118.3,174.0,105.8,138.4,82.5,106.4,77.3,47.3
10,2006,294.3,436.3,120.6,71.0,122.5,192.1,110.0,159.5,86.0,116.6,81.7,54.8
11,2007,275.9,542.2,128.1,72.4,128.3,199.6,110.5,160.0,90.0,118.6,84.3,59.4
12,2008,202.4,377.8,103.6,57.8,128.4,182.5,110.4,151.4,94.4,109.5,88.7,67.6
13,2009,146.9,226.5,91.2,56.0,119.5,124.8,107.0,49.4,93.8,98.8,91.1,64.8
14,2010,131.3,110.5,87.1,97.5,113.9,89.1,96.5,58.2,94.5,99.3,90.6,68.5
15,2011,129.2,83.5,85.7,67.3,111.3,82.1,94.3,70.4,97.4,97.1,91.8,77.0
16,2012,113.0,61.3,88.8,86.2,107.7,76.0,92.9,81.4,99.1,98.1,94.0,81.2
17,2013,99.1,65.7,78.9,95.5,102.8,76.3,93.0,88.7,99.3,98.9,96.3,85.4
18,2014,95.0,61.3,90.5,119.3,100.7,85.2,96.4,94.0,99.9,99.5,99.2,94.4
19,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
20,2016,113.6,115.9,102.1,107.1,100.7,114.2,102.7,104.4,100.9,100.4,103.0,112.8
21,2017,123.6,126.0,101.9,145.7,102.8,123.6,108.4,108.8,103.2,101.7,107.2,128.9
22,2018,129.2,162.6,103.5,79.0,106.4,138.6,108.7,106.5,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.5,39.0,109.6,146.0,111.8,79.0,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,100.0,59.0,110.4,139.1,100.0,79.6,111.8,109.4,100.0,214.8
25,2021,133.5,191.6,100.0,79.2,113.0,143.4,100.0,94.4,118.1,115.3,100.0,302.2
26,2022,131.6,158.9,100.0,71.6,115.7,169.7,100.0,94.9,132.1,127.6,100.0,603.3

In [62]:
# 2023034 - MAHMUT ZAHID MALKOC
df.fillna(df.mean())

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,151.433333,238.908696,105.495455,45.9,112.730435,131.552174,78.6000,101.055556,70.4,100.673913,43.100000,115.852174
1,1997,151.433333,238.908696,105.495455,48.8,112.730435,131.552174,86.0000,101.055556,71.2,100.673913,45.600000,115.852174
2,1998,151.433333,238.908696,118.900000,46.1,112.730435,131.552174,94.4000,101.055556,71.6,100.673913,48.500000,115.852174
3,1999,151.433333,238.908696,116.600000,36.8,112.730435,131.552174,95.9000,101.055556,72.1,100.673913,53.100000,115.852174
4,2000,151.433333,394.000000,114.100000,36.1,117.500000,120.100000,99.3000,101.055556,73.5,64.900000,56.600000,14.700000
5,2001,151.433333,365.000000,115.700000,33.8,117.200000,129.300000,100.2000,101.055556,75.2,75.800000,60.600000,23.000000
6,2002,151.433333,322.400000,113.400000,21.5,115.800000,131.700000,98.8000,101.055556,76.4,78.900000,66.600000,31.300000
7,2003,151.433333,341.300000,117.300000,26.9,115.000000,137.200000,99.0000,101.055556,77.7,86.800000,70.300000,38.000000
8,2004,151.433333,429.600000,125.600000,40.7,115.300000,151.100000,101.5000,101.055556,80.4,97.900000,73.300000,43.500000
9,2005,263.600000,456.600000,120.800000,61.8,118.300000,174.000000,105.8000,138.400000,82.5,106.400000,77.300000,47.300000
10,2006,294.300000,436.300000,120.600000,71.0,122.500000,192.100000,110.0000,159.500000,86.0,116.600000,81.700000,54.800000
11,2007,275.900000,542.200000,128.100000,72.4,128.300000,199.600000,110.5000,160.000000,90.0,118.600000,84.300000,59.400000
12,2008,202.400000,377.800000,103.600000,57.8,128.400000,182.500000,110.4000,151.400000,94.4,109.500000,88.700000,67.600000
13,2009,146.900000,226.500000,91.200000,56.0,119.500000,124.800000,107.0000,49.400000,93.8,98.800000,91.100000,64.800000
14,2010,131.300000,110.500000,87.100000,97.5,113.900000,89.100000,96.5000,58.200000,94.5,99.300000,90.600000,68.500000
15,2011,129.200000,83.500000,85.700000,67.3,111.300000,82.100000,94.3000,70.400000,97.4,97.100000,91.800000,77.000000
16,2012,113.000000,61.300000,88.800000,86.2,107.700000,76.000000,92.9000,81.400000,99.1,98.100000,94.000000,81.200000
17,2013,99.100000,65.700000,78.900000,95.5,102.800000,76.300000,93.0000,88.700000,99.3,98.900000,96.300000,85.400000
18,2014,95.000000,61.300000,90.500000,119.3,100.700000,85.200000,96.4000,94.000000,99.9,99.500000,99.200000,94.400000
19,2015,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.0000,100.000000,100.0,100.000000,100.000000,100.000000
20,2016,113.600000,115.900000,102.100000,107.1,100.700000,114.200000,102.7000,104.400000,100.9,100.400000,103.000000,112.800000
21,2017,123.600000,126.000000,101.900000,145.7,102.800000,123.600000,108.4000,108.800000,103.2,101.700000,107.200000,128.900000
22,2018,129.200000,162.600000,103.500000,79.0,106.400000,138.600000,108.7000,106.500000,106.7,105.800000,111.200000,161.400000
23,2019,128.800000,184.100000,96.500000,39.0,109.600000,146.000000,111.8000,79.000000,109.9,108.200000,114.500000,190.300000
24,2020,114.800000,181.800000,105.495455,59.0,110.400000,139.100000,100.0875,79.600000,111.8,109.400000,81.191667,214.800000
25,2021,133.500000,191.600000,105.495455,79.2,113.000000,143.400000,100.0875,94.400000,118.1,115.300000,81.191667,302.200000
26,2022,131.600000,158.900000,105.495455,71.6,115.700000,169.700000,100.0875,94.900000,132.1,127.600000,81.191667,603.300000

In [63]:
# 2023034 - MAHMUT ZAHID MALKOC
df.fillna(df.median())

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,129.2,184.1,103.55,45.9,113.9,131.7,78.60,94.65,70.4,100.0,43.1,77.0
1,1997,129.2,184.1,103.55,48.8,113.9,131.7,86.00,94.65,71.2,100.0,45.6,77.0
2,1998,129.2,184.1,118.90,46.1,113.9,131.7,94.40,94.65,71.6,100.0,48.5,77.0
3,1999,129.2,184.1,116.60,36.8,113.9,131.7,95.90,94.65,72.1,100.0,53.1,77.0
4,2000,129.2,394.0,114.10,36.1,117.5,120.1,99.30,94.65,73.5,64.9,56.6,14.7
5,2001,129.2,365.0,115.70,33.8,117.2,129.3,100.20,94.65,75.2,75.8,60.6,23.0
6,2002,129.2,322.4,113.40,21.5,115.8,131.7,98.80,94.65,76.4,78.9,66.6,31.3
7,2003,129.2,341.3,117.30,26.9,115.0,137.2,99.00,94.65,77.7,86.8,70.3,38.0
8,2004,129.2,429.6,125.60,40.7,115.3,151.1,101.50,94.65,80.4,97.9,73.3,43.5
9,2005,263.6,456.6,120.80,61.8,118.3,174.0,105.80,138.40,82.5,106.4,77.3,47.3
10,2006,294.3,436.3,120.60,71.0,122.5,192.1,110.00,159.50,86.0,116.6,81.7,54.8
11,2007,275.9,542.2,128.10,72.4,128.3,199.6,110.50,160.00,90.0,118.6,84.3,59.4
12,2008,202.4,377.8,103.60,57.8,128.4,182.5,110.40,151.40,94.4,109.5,88.7,67.6
13,2009,146.9,226.5,91.20,56.0,119.5,124.8,107.00,49.40,93.8,98.8,91.1,64.8
14,2010,131.3,110.5,87.10,97.5,113.9,89.1,96.50,58.20,94.5,99.3,90.6,68.5
15,2011,129.2,83.5,85.70,67.3,111.3,82.1,94.30,70.40,97.4,97.1,91.8,77.0
16,2012,113.0,61.3,88.80,86.2,107.7,76.0,92.90,81.40,99.1,98.1,94.0,81.2
17,2013,99.1,65.7,78.90,95.5,102.8,76.3,93.00,88.70,99.3,98.9,96.3,85.4
18,2014,95.0,61.3,90.50,119.3,100.7,85.2,96.40,94.00,99.9,99.5,99.2,94.4
19,2015,100.0,100.0,100.00,100.0,100.0,100.0,100.00,100.00,100.0,100.0,100.0,100.0
20,2016,113.6,115.9,102.10,107.1,100.7,114.2,102.70,104.40,100.9,100.4,103.0,112.8
21,2017,123.6,126.0,101.90,145.7,102.8,123.6,108.40,108.80,103.2,101.7,107.2,128.9
22,2018,129.2,162.6,103.50,79.0,106.4,138.6,108.70,106.50,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.50,39.0,109.6,146.0,111.80,79.00,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,103.55,59.0,110.4,139.1,99.65,79.60,111.8,109.4,86.5,214.8
25,2021,133.5,191.6,103.55,79.2,113.0,143.4,99.65,94.40,118.1,115.3,86.5,302.2
26,2022,131.6,158.9,103.55,71.6,115.7,169.7,99.65,94.90,132.1,127.6,86.5,603.3

In [64]:
# 2023034 - MAHMUT ZAHID MALKOC
df.fillna(method="ffill")
# df.fillna(method="ffill", inplace=True)

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,NaN,NaN,NaN,45.9,NaN,NaN,78.6,NaN,70.4,NaN,43.1,NaN
1,1997,NaN,NaN,NaN,48.8,NaN,NaN,86.0,NaN,71.2,NaN,45.6,NaN
2,1998,NaN,NaN,118.9,46.1,NaN,NaN,94.4,NaN,71.6,NaN,48.5,NaN
3,1999,NaN,NaN,116.6,36.8,NaN,NaN,95.9,NaN,72.1,NaN,53.1,NaN
4,2000,NaN,394.0,114.1,36.1,117.5,120.1,99.3,NaN,73.5,64.9,56.6,14.7
5,2001,NaN,365.0,115.7,33.8,117.2,129.3,100.2,NaN,75.2,75.8,60.6,23.0
6,2002,NaN,322.4,113.4,21.5,115.8,131.7,98.8,NaN,76.4,78.9,66.6,31.3
7,2003,NaN,341.3,117.3,26.9,115.0,137.2,99.0,NaN,77.7,86.8,70.3,38.0
8,2004,NaN,429.6,125.6,40.7,115.3,151.1,101.5,NaN,80.4,97.9,73.3,43.5
9,2005,263.6,456.6,120.8,61.8,118.3,174.0,105.8,138.4,82.5,106.4,77.3,47.3
10,2006,294.3,436.3,120.6,71.0,122.5,192.1,110.0,159.5,86.0,116.6,81.7,54.8
11,2007,275.9,542.2,128.1,72.4,128.3,199.6,110.5,160.0,90.0,118.6,84.3,59.4
12,2008,202.4,377.8,103.6,57.8,128.4,182.5,110.4,151.4,94.4,109.5,88.7,67.6
13,2009,146.9,226.5,91.2,56.0,119.5,124.8,107.0,49.4,93.8,98.8,91.1,64.8
14,2010,131.3,110.5,87.1,97.5,113.9,89.1,96.5,58.2,94.5,99.3,90.6,68.5
15,2011,129.2,83.5,85.7,67.3,111.3,82.1,94.3,70.4,97.4,97.1,91.8,77.0
16,2012,113.0,61.3,88.8,86.2,107.7,76.0,92.9,81.4,99.1,98.1,94.0,81.2
17,2013,99.1,65.7,78.9,95.5,102.8,76.3,93.0,88.7,99.3,98.9,96.3,85.4
18,2014,95.0,61.3,90.5,119.3,100.7,85.2,96.4,94.0,99.9,99.5,99.2,94.4
19,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
20,2016,113.6,115.9,102.1,107.1,100.7,114.2,102.7,104.4,100.9,100.4,103.0,112.8
21,2017,123.6,126.0,101.9,145.7,102.8,123.6,108.4,108.8,103.2,101.7,107.2,128.9
22,2018,129.2,162.6,103.5,79.0,106.4,138.6,108.7,106.5,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.5,39.0,109.6,146.0,111.8,79.0,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,96.5,59.0,110.4,139.1,111.8,79.6,111.8,109.4,114.5,214.8
25,2021,133.5,191.6,96.5,79.2,113.0,143.4,111.8,94.4,118.1,115.3,114.5,302.2
26,2022,131.6,158.9,96.5,71.6,115.7,169.7,111.8,94.9,132.1,127.6,114.5,603.3

In [65]:
# 2023034 - MAHMUT ZAHID MALKOC
df.fillna(method="bfill")
# df.fillna(method="bfill",inplace=True)

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,263.6,394.0,118.9,45.9,117.5,120.1,78.6,138.4,70.4,64.9,43.1,14.7
1,1997,263.6,394.0,118.9,48.8,117.5,120.1,86.0,138.4,71.2,64.9,45.6,14.7
2,1998,263.6,394.0,118.9,46.1,117.5,120.1,94.4,138.4,71.6,64.9,48.5,14.7
3,1999,263.6,394.0,116.6,36.8,117.5,120.1,95.9,138.4,72.1,64.9,53.1,14.7
4,2000,263.6,394.0,114.1,36.1,117.5,120.1,99.3,138.4,73.5,64.9,56.6,14.7
5,2001,263.6,365.0,115.7,33.8,117.2,129.3,100.2,138.4,75.2,75.8,60.6,23.0
6,2002,263.6,322.4,113.4,21.5,115.8,131.7,98.8,138.4,76.4,78.9,66.6,31.3
7,2003,263.6,341.3,117.3,26.9,115.0,137.2,99.0,138.4,77.7,86.8,70.3,38.0
8,2004,263.6,429.6,125.6,40.7,115.3,151.1,101.5,138.4,80.4,97.9,73.3,43.5
9,2005,263.6,456.6,120.8,61.8,118.3,174.0,105.8,138.4,82.5,106.4,77.3,47.3
10,2006,294.3,436.3,120.6,71.0,122.5,192.1,110.0,159.5,86.0,116.6,81.7,54.8
11,2007,275.9,542.2,128.1,72.4,128.3,199.6,110.5,160.0,90.0,118.6,84.3,59.4
12,2008,202.4,377.8,103.6,57.8,128.4,182.5,110.4,151.4,94.4,109.5,88.7,67.6
13,2009,146.9,226.5,91.2,56.0,119.5,124.8,107.0,49.4,93.8,98.8,91.1,64.8
14,2010,131.3,110.5,87.1,97.5,113.9,89.1,96.5,58.2,94.5,99.3,90.6,68.5
15,2011,129.2,83.5,85.7,67.3,111.3,82.1,94.3,70.4,97.4,97.1,91.8,77.0
16,2012,113.0,61.3,88.8,86.2,107.7,76.0,92.9,81.4,99.1,98.1,94.0,81.2
17,2013,99.1,65.7,78.9,95.5,102.8,76.3,93.0,88.7,99.3,98.9,96.3,85.4
18,2014,95.0,61.3,90.5,119.3,100.7,85.2,96.4,94.0,99.9,99.5,99.2,94.4
19,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
20,2016,113.6,115.9,102.1,107.1,100.7,114.2,102.7,104.4,100.9,100.4,103.0,112.8
21,2017,123.6,126.0,101.9,145.7,102.8,123.6,108.4,108.8,103.2,101.7,107.2,128.9
22,2018,129.2,162.6,103.5,79.0,106.4,138.6,108.7,106.5,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.5,39.0,109.6,146.0,111.8,79.0,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,NaN,59.0,110.4,139.1,NaN,79.6,111.8,109.4,NaN,214.8
25,2021,133.5,191.6,NaN,79.2,113.0,143.4,NaN,94.4,118.1,115.3,NaN,302.2
26,2022,131.6,158.9,NaN,71.6,115.7,169.7,NaN,94.9,132.1,127.6,NaN,603.3

In [66]:
# 2023034 - MAHMUT ZAHID MALKOC
from scipy.interpolate import interpolate
df.interpolate(method='linear', inplace=True, limit_direction='forward', axis=0)
df.interpolate(method='linear', inplace=True, limit_direction='backward', axis=0)
df

,Year,BP_EU,BP_IE,BP_UK,BP_TR,ENOP_EU,ENOP_IE,ENOP_UK,ENOP_TR,CPP_EU,CPP_IE,CPP_UK,CPP_TR
0,1996,263.6,394.0,118.9,45.9,117.5,120.1,78.6,138.4,70.4,64.9,43.1,14.7
1,1997,263.6,394.0,118.9,48.8,117.5,120.1,86.0,138.4,71.2,64.9,45.6,14.7
2,1998,263.6,394.0,118.9,46.1,117.5,120.1,94.4,138.4,71.6,64.9,48.5,14.7
3,1999,263.6,394.0,116.6,36.8,117.5,120.1,95.9,138.4,72.1,64.9,53.1,14.7
4,2000,263.6,394.0,114.1,36.1,117.5,120.1,99.3,138.4,73.5,64.9,56.6,14.7
5,2001,263.6,365.0,115.7,33.8,117.2,129.3,100.2,138.4,75.2,75.8,60.6,23.0
6,2002,263.6,322.4,113.4,21.5,115.8,131.7,98.8,138.4,76.4,78.9,66.6,31.3
7,2003,263.6,341.3,117.3,26.9,115.0,137.2,99.0,138.4,77.7,86.8,70.3,38.0
8,2004,263.6,429.6,125.6,40.7,115.3,151.1,101.5,138.4,80.4,97.9,73.3,43.5
9,2005,263.6,456.6,120.8,61.8,118.3,174.0,105.8,138.4,82.5,106.4,77.3,47.3
10,2006,294.3,436.3,120.6,71.0,122.5,192.1,110.0,159.5,86.0,116.6,81.7,54.8
11,2007,275.9,542.2,128.1,72.4,128.3,199.6,110.5,160.0,90.0,118.6,84.3,59.4
12,2008,202.4,377.8,103.6,57.8,128.4,182.5,110.4,151.4,94.4,109.5,88.7,67.6
13,2009,146.9,226.5,91.2,56.0,119.5,124.8,107.0,49.4,93.8,98.8,91.1,64.8
14,2010,131.3,110.5,87.1,97.5,113.9,89.1,96.5,58.2,94.5,99.3,90.6,68.5
15,2011,129.2,83.5,85.7,67.3,111.3,82.1,94.3,70.4,97.4,97.1,91.8,77.0
16,2012,113.0,61.3,88.8,86.2,107.7,76.0,92.9,81.4,99.1,98.1,94.0,81.2
17,2013,99.1,65.7,78.9,95.5,102.8,76.3,93.0,88.7,99.3,98.9,96.3,85.4
18,2014,95.0,61.3,90.5,119.3,100.7,85.2,96.4,94.0,99.9,99.5,99.2,94.4
19,2015,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
20,2016,113.6,115.9,102.1,107.1,100.7,114.2,102.7,104.4,100.9,100.4,103.0,112.8
21,2017,123.6,126.0,101.9,145.7,102.8,123.6,108.4,108.8,103.2,101.7,107.2,128.9
22,2018,129.2,162.6,103.5,79.0,106.4,138.6,108.7,106.5,106.7,105.8,111.2,161.4
23,2019,128.8,184.1,96.5,39.0,109.6,146.0,111.8,79.0,109.9,108.2,114.5,190.3
24,2020,114.8,181.8,96.5,59.0,110.4,139.1,111.8,79.6,111.8,109.4,114.5,214.8
25,2021,133.5,191.6,96.5,79.2,113.0,143.4,111.8,94.4,118.1,115.3,114.5,302.2
26,2022,131.6,158.9,96.5,71.6,115.7,169.7,111.8,94.9,132.1,127.6,114.5,603.3

In [67]:
# 2023034 - MAHMUT ZAHID MALKOC
df.isnull().sum()

Year       0
BP_EU      0
BP_IE      0
BP_UK      0
BP_TR      0
ENOP_EU    0
ENOP_IE    0
ENOP_UK    0
ENOP_TR    0
CPP_EU     0
CPP_IE     0
CPP_UK     0
CPP_TR     0
dtype: int64

# STATISTICS

# DATA VISUALIZATION