## MY ASSESMENT TOPIC:
### Analysis of the Increase or Decrease in the Construction Producer Prices According to the Number of Employment and Building Permits on a Yearly Basis considering IE, UK, TR, and EU.

## First Dataset 
### Building Permits - Annual Data BY EUROSTAT

In [1]:
# 2023034 - MAHMUT ZAHID MALKOC
import numpy as np
import pandas as pd
from pyjstat import pyjstat

# Building permits - m2 of useful floor area - Index, 2015=100
BuildingsPermits = pd.read_csv('BuildingsPermits.csv')
BuildingsPermits

,DATAFLOW,LAST UPDATE,freq,indic_bt,cpa2_1,s_adj,unit,geo,TIME_PERIOD,OBS_VALUE
0,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1992,NaN
1,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1993,NaN
2,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1994,NaN
3,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1995,NaN
4,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1996,NaN
...,...,...,...,...,...,...,...,...,...,...
1173,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2018,103.5
1174,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2019,96.5
1175,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2020,NaN
1176,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2021,NaN
1177,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2022,NaN

In [2]:
# 2023034 - MAHMUT ZAHID MALKOC
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
BuildingsPermits = BuildingsPermits[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
BuildingsPermits

                 geo  TIME_PERIOD  OBS_VALUE
0            Albania         1992        NaN
1            Albania         1993        NaN
2            Albania         1994        NaN
3            Albania         1995        NaN
4            Albania         1996        NaN
...              ...          ...        ...
1173  United Kingdom         2018      103.5
1174  United Kingdom         2019       96.5
1175  United Kingdom         2020        NaN
1176  United Kingdom         2021        NaN
1177  United Kingdom         2022        NaN

[1178 rows x 3 columns]

In [3]:
# 2023034 - MAHMUT ZAHID MALKOC
# Column names are changed
BuildingsPermits = BuildingsPermits.rename(columns={'geo': 'Country', 'TIME_PERIOD': 'Year', 'OBS_VALUE': 'Value'})
BuildingsPermits

             Country  Year  Value
0            Albania  1992    NaN
1            Albania  1993    NaN
2            Albania  1994    NaN
3            Albania  1995    NaN
4            Albania  1996    NaN
...              ...   ...    ...
1173  United Kingdom  2018  103.5
1174  United Kingdom  2019   96.5
1175  United Kingdom  2020    NaN
1176  United Kingdom  2021    NaN
1177  United Kingdom  2022    NaN

[1178 rows x 3 columns]

In [8]:
# 2023034 - MAHMUT ZAHID MALKOC
# Choosen the all countries
countries = BuildingsPermits['Country'].unique()
list(countries)

['Albania',
 'Austria',
 'Bosnia and Herzegovina',
 'Belgium',
 'Bulgaria',
 'Cyprus',
 'Czechia',
 'Germany (until 1990 former territory of the FRG)',
 'Denmark',
 'Euro area - 19 countries  (2015-2022)',
 'Euro area â€“ 20 countries (from 2023)',
 'Estonia',
 'Greece',
 'Spain',
 'European Union - 27 countries (from 2020)',
 'Finland',
 'France',
 'Croatia',
 'Hungary',
 'Ireland',
 'Italy',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Montenegro',
 'North Macedonia',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Sweden',
 'Slovenia',
 'Slovakia',
 'TÃ¼rkiye',
 'United Kingdom']

In [9]:
# 2023034 - MAHMUT ZAHID MALKOC
# Related Countries are selected
countries = ['European Union - 27 countries (from 2020)','Ireland','United Kingdom','TÃ¼rkiye']
BuildingsPermits = BuildingsPermits[BuildingsPermits['Country'].isin(countries)]
BuildingsPermits

                                        Country  Year  Value
434   European Union - 27 countries (from 2020)  1992    NaN
435   European Union - 27 countries (from 2020)  1993    NaN
436   European Union - 27 countries (from 2020)  1994    NaN
437   European Union - 27 countries (from 2020)  1995    NaN
438   European Union - 27 countries (from 2020)  1996    NaN
...                                         ...   ...    ...
1173                             United Kingdom  2018  103.5
1174                             United Kingdom  2019   96.5
1175                             United Kingdom  2020    NaN
1176                             United Kingdom  2021    NaN
1177                             United Kingdom  2022    NaN

[124 rows x 3 columns]

In [10]:
# 2023034 - MAHMUT ZAHID MALKOC
# How many countries do we have?
unique_countries = BuildingsPermits['Country'].unique()
num_countries = len(unique_countries)
num_countries

4

In [20]:
# 2023034 - MAHMUT ZAHID MALKOC
# Values in European Union by years
eu_data = BuildingsPermits[BuildingsPermits['Country'] == 'European Union - 27 countries (from 2020)']
eu_data = eu_data[['Year', 'Value']].set_index('Year').rename(columns={'Value': 'European Union'})
eu_data

      European Union
Year
1992             NaN
1993             NaN
1994             NaN
1995             NaN
1996             NaN
1997             NaN
1998             NaN
1999             NaN
2000             NaN
2001             NaN
2002             NaN
2003             NaN
2004             NaN
2005           263.6
2006           294.3
2007           275.9
2008           202.4
2009           146.9
2010           131.3
2011           129.2
2012           113.0
2013            99.1
2014            95.0
2015           100.0
2016           113.6
2017           123.6
2018           129.2
2019           128.8
2020           114.8
2021           133.5
2022           131.6

In [21]:
# 2023034 - MAHMUT ZAHID MALKOC
for country in countries:
    if country == 'European Union - 27 countries (from 2020)':
        continue
    country_data = BuildingsPermits[BuildingsPermits['Country'] == country][['Year', 'Value']].set_index('Year').rename(columns={'Value': country})
    eu_data = eu_data.merge(country_data, how='outer', left_index=True, right_index=True)
eu_data

      European Union  Ireland  United Kingdom  TÃ¼rkiye
Year
1992             NaN      NaN             NaN     42.6
1993             NaN      NaN             NaN     49.6
1994             NaN      NaN             NaN     47.6
1995             NaN      NaN             NaN     49.0
1996             NaN      NaN             NaN     45.9
1997             NaN      NaN             NaN     48.8
1998             NaN      NaN           118.9     46.1
1999             NaN      NaN           116.6     36.8
2000             NaN    394.0           114.1     36.1
2001             NaN    365.0           115.7     33.8
2002             NaN    322.4           113.4     21.5
2003             NaN    341.3           117.3     26.9
2004             NaN    429.6           125.6     40.7
2005           263.6    456.6           120.8     61.8
2006           294.3    436.3           120.6     71.0
2007           275.9    542.2           128.1     72.4
2008           202.4    377.8           103.6     57.8
2009           146.9    226.5            91.2     56.0
2010           131.3    110.5            87.1     97.5
2011           129.2     83.5            85.7     67.3
2012           113.0     61.3            88.8     86.2
2013            99.1     65.7            78.9     95.5
2014            95.0     61.3            90.5    119.3
2015           100.0    100.0           100.0    100.0
2016           113.6    115.9           102.1    107.1
2017           123.6    126.0           101.9    145.7
2018           129.2    162.6           103.5     79.0
2019           128.8    184.1            96.5     39.0
2020           114.8    181.8             NaN     59.0
2021           133.5    191.6             NaN     79.2
2022           131.6    158.9             NaN     71.6

In [28]:
# 2023034 - MAHMUT ZAHID MALKOC
BuildingsPermits = eu_data.rename(columns={"European Union": "EU",
                                            "Ireland": "IE",
                                            "United Kingdom": "UK",
                                            "TÃ¼rkiye": "TR",})
BuildingsPermits

         EU     IE     UK     TR
Year
1992    NaN    NaN    NaN   42.6
1993    NaN    NaN    NaN   49.6
1994    NaN    NaN    NaN   47.6
1995    NaN    NaN    NaN   49.0
1996    NaN    NaN    NaN   45.9
1997    NaN    NaN    NaN   48.8
1998    NaN    NaN  118.9   46.1
1999    NaN    NaN  116.6   36.8
2000    NaN  394.0  114.1   36.1
2001    NaN  365.0  115.7   33.8
2002    NaN  322.4  113.4   21.5
2003    NaN  341.3  117.3   26.9
2004    NaN  429.6  125.6   40.7
2005  263.6  456.6  120.8   61.8
2006  294.3  436.3  120.6   71.0
2007  275.9  542.2  128.1   72.4
2008  202.4  377.8  103.6   57.8
2009  146.9  226.5   91.2   56.0
2010  131.3  110.5   87.1   97.5
2011  129.2   83.5   85.7   67.3
2012  113.0   61.3   88.8   86.2
2013   99.1   65.7   78.9   95.5
2014   95.0   61.3   90.5  119.3
2015  100.0  100.0  100.0  100.0
2016  113.6  115.9  102.1  107.1
2017  123.6  126.0  101.9  145.7
2018  129.2  162.6  103.5   79.0
2019  128.8  184.1   96.5   39.0
2020  114.8  181.8    NaN   59.0
2021  133.5  191.6    NaN   79.2
2022  131.6  158.9    NaN   71.6

## Second Dataset
### Labour Input In Construction - Employment Number of Persons - Annual Data BY EUROSTAT

In [5]:
# 2023034 - MAHMUT ZAHID MALKOC

import numpy as np
import pandas as pd
from pyjstat import pyjstat

Labour = pd.read_excel('LabourInputInConstruction-EmploymentNumberOfPersons.xlsx')

Labour

ModuleNotFoundError: No module named 'numpy'

## Third Dataset
### Construction Producer Prices or Costs, New Residential Buildings - Annual Data BY EUROSTAT

In [37]:
# 2023034 - MAHMUT ZAHID MALKOC

import numpy as np
import pandas as pd
from pyjstat import pyjstat

# Construction Producer Prices or Costs, New Residential Buildings - Annual Data BY EUROSTAT
ConstructionProducePrice_URL = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/STS_COPI_A?format=JSON&lang=en&freq=A&indic_bt=CSTI&cpa2_1=CPA_F41001_X_410014&s_adj=NSA&unit=I15&geo=EU27_2020&geo=EA20&geo=EA19&geo=BE&geo=BG&geo=CZ&geo=DK&geo=DE&geo=EE&geo=IE&geo=EL&geo=ES&geo=FR&geo=HR&geo=IT&geo=CY&geo=LV&geo=LT&geo=LU&geo=HU&geo=MT&geo=NL&geo=AT&geo=PL&geo=PT&geo=RO&geo=SI&geo=SK&geo=FI&geo=SE&geo=NO&geo=CH&geo=UK&geo=BA&geo=ME&geo=MK&geo=AL&geo=TR&time=1954&time=1955&time=1956&time=1957&time=1958&time=1959&time=1960&time=1961&time=1962&time=1963&time=1964&time=1965&time=1966&time=1967&time=1968&time=1969&time=1970&time=1971&time=1972&time=1973&time=1974&time=1975&time=1976&time=1977&time=1978&time=1979&time=1980&time=1981&time=1982&time=1983&time=1984&time=1985&time=1986&time=1987&time=1988&time=1989&time=1990&time=1991&time=1992&time=1993&time=1994&time=1995&time=1996&time=1997&time=1998&time=1999&time=2000&time=2001&time=2002&time=2003&time=2004&time=2005&time=2006&time=2007&time=2008&time=2009&time=2010&time=2011&time=2012&time=2013&time=2014&time=2015&time=2016&time=2017&time=2018&time=2019&time=2020&time=2021&time=2022'

# read from json-stat
dataset = pyjstat.Dataset.read(ConstructionProducePrice_URL)

# write to dataframe
ConstructionProducePrice = dataset.write('dataframe')

# read from dataframe
dataset_from_ConstructionProducePrice = pyjstat.Dataset.read(ConstructionProducePrice)

ConstructionProducePrice

,Time frequency,Business trend indicator,Statistical Classification of Products by Activity (CPA 2.1),Seasonal adjustment,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1954,NaN
1,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1955,NaN
2,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1956,NaN
3,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1957,NaN
4,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1958,NaN
...,...,...,...,...,...,...,...,...
2617,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2018,161.4
2618,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2019,190.3
2619,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2020,214.8
2620,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2021,302.2
2621,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",TÃ¼rkiye,2022,603.3

In [39]:
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
CPP = ConstructionProducePrice[['Geopolitical entity (reporting)', 'Time', 'value']]

# SeÃ§ilen sÃ¼tunlarÄ± ekrana yazdÄ±r
CPP

                Geopolitical entity (reporting)  Time  value
0     European Union - 27 countries (from 2020)  1954    NaN
1     European Union - 27 countries (from 2020)  1955    NaN
2     European Union - 27 countries (from 2020)  1956    NaN
3     European Union - 27 countries (from 2020)  1957    NaN
4     European Union - 27 countries (from 2020)  1958    NaN
...                                         ...   ...    ...
2617                                    TÃ¼rkiye  2018  161.4
2618                                    TÃ¼rkiye  2019  190.3
2619                                    TÃ¼rkiye  2020  214.8
2620                                    TÃ¼rkiye  2021  302.2
2621                                    TÃ¼rkiye  2022  603.3

[2622 rows x 3 columns]

In [40]:
# column names are changed
CPP = CPP.rename(columns={'Geopolitical entity (reporting)': 'Country', 'Time': 'Year', 'value': 'Value'})
CPP

                                        Country  Year  Value
0     European Union - 27 countries (from 2020)  1954    NaN
1     European Union - 27 countries (from 2020)  1955    NaN
2     European Union - 27 countries (from 2020)  1956    NaN
3     European Union - 27 countries (from 2020)  1957    NaN
4     European Union - 27 countries (from 2020)  1958    NaN
...                                         ...   ...    ...
2617                                    TÃ¼rkiye  2018  161.4
2618                                    TÃ¼rkiye  2019  190.3
2619                                    TÃ¼rkiye  2020  214.8
2620                                    TÃ¼rkiye  2021  302.2
2621                                    TÃ¼rkiye  2022  603.3

[2622 rows x 3 columns]