# 

## Comparing the Irish Construction sector with other countries worldwide

You have been tasked with analysing Ireland's Construction data and comparing the Irish Construction sector with other countries worldwide. This analysis should also include forecasting, sentiment analysis and evidence-based recommendations for the sector as well as a complete rationale of the entire process used to discover your findings. Your Research could include export, import, trade imbalance, house production, material stock, labour/skill pool, etc. (or any other relevant topic EXCEPT Climate change) with Ireland as your base line.

In [16]:
import numpy as np
import pandas as pd
from pyjstat import pyjstat

ProductionInConstruction_URL = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/STS_COPR_A?format=JSON&lang=en&freq=A&indic_bt=PROD&nace_r2=B-D_F&nace_r2=F&nace_r2=F_CC1&nace_r2=F_CC2&s_adj=NSA&s_adj=CA&unit=I15&unit=I10&geo=EU27_2020&geo=EU28&geo=EA20&geo=EA19&geo=BE&geo=BG&geo=CZ&geo=DK&geo=DE&geo=EE&geo=IE&geo=EL&geo=ES&geo=FR&geo=HR&geo=IT&geo=CY&geo=LV&geo=LT&geo=LU&geo=HU&geo=MT&geo=NL&geo=AT&geo=PL&geo=PT&geo=RO&geo=SI&geo=SK&geo=FI&geo=SE&geo=NO&geo=CH&geo=UK&geo=BA&geo=ME&geo=MK&geo=AL&geo=RS&geo=TR&time=2000&time=2002&time=2003&time=2005&time=2013&time=2014&time=2015&time=2016&time=2017&time=2018&time=2019&time=2020&time=2021&time=2022'

# read from json-stat
dataset = pyjstat.Dataset.read(ProductionInConstruction_URL)

# write to dataframe
ProductionInConstruction = dataset.write('dataframe')

# read from dataframe
dataset_from_ProductionInConstruction = pyjstat.Dataset.read(ProductionInConstruction)

# write to json-stat
#print(dataset_from_ProductionInConstruction.write())

ProductionInConstruction

,Time frequency,Business trend indicator,Statistical classification of economic activities in the European Community (NACE Rev. 2),Seasonal adjustment,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Volume index of production,Mining and quarrying; manufacturing; electrici...,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),2000,NaN
1,Annual,Volume index of production,Mining and quarrying; manufacturing; electrici...,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),2002,NaN
2,Annual,Volume index of production,Mining and quarrying; manufacturing; electrici...,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),2003,NaN
3,Annual,Volume index of production,Mining and quarrying; manufacturing; electrici...,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),2005,NaN
4,Annual,Volume index of production,Mining and quarrying; manufacturing; electrici...,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),2013,NaN
...,...,...,...,...,...,...,...,...
8955,Annual,Volume index of production,Civil engineering works,"Calendar adjusted data, not seasonally adjuste...","Index, 2010=100",Türkiye,2018,NaN
8956,Annual,Volume index of production,Civil engineering works,"Calendar adjusted data, not seasonally adjuste...","Index, 2010=100",Türkiye,2019,NaN
8957,Annual,Volume index of production,Civil engineering works,"Calendar adjusted data, not seasonally adjuste...","Index, 2010=100",Türkiye,2020,NaN
8958,Annual,Volume index of production,Civil engineering works,"Calendar adjusted data, not seasonally adjuste...","Index, 2010=100",Türkiye,2021,NaN
8959,Annual,Volume index of production,Civil engineering works,"Calendar adjusted data, not seasonally adjuste...","Index, 2010=100",Türkiye,2022,NaN

In [19]:
import numpy as np
import pandas as pd
from pyjstat import pyjstat

labour_URL = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/STS_COLB_A?format=JSON&lang=en&indic_bt=EMPL&indic_bt=HOWK&indic_bt=WAGE&s_adj=NSA&s_adj=CA&unit=I15&unit=I10&unit=PCH_SM'

# read from json-stat
dataset = pyjstat.Dataset.read(labour_URL)

# write to dataframe
labour = dataset.write('dataframe')

# read from dataframe
dataset_from_labour = pyjstat.Dataset.read(labour)

labour

,Time frequency,Business trend indicator,Statistical classification of economic activities in the European Community (NACE Rev. 2),Seasonal adjustment,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Employment (number of persons employed),Construction,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1990,NaN
1,Annual,Employment (number of persons employed),Construction,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1991,NaN
2,Annual,Employment (number of persons employed),Construction,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1992,NaN
3,Annual,Employment (number of persons employed),Construction,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1993,NaN
4,Annual,Employment (number of persons employed),Construction,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1994,NaN
...,...,...,...,...,...,...,...,...
23755,Annual,Gross wages and salaries,Construction,"Calendar adjusted data, not seasonally adjuste...",Percentage change compared to same period in p...,Türkiye,2018,13.2
23756,Annual,Gross wages and salaries,Construction,"Calendar adjusted data, not seasonally adjuste...",Percentage change compared to same period in p...,Türkiye,2019,-6.2
23757,Annual,Gross wages and salaries,Construction,"Calendar adjusted data, not seasonally adjuste...",Percentage change compared to same period in p...,Türkiye,2020,5.4
23758,Annual,Gross wages and salaries,Construction,"Calendar adjusted data, not seasonally adjuste...",Percentage change compared to same period in p...,Türkiye,2021,41.1
23759,Annual,Gross wages and salaries,Construction,"Calendar adjusted data, not seasonally adjuste...",Percentage change compared to same period in p...,Türkiye,2022,74.7

In [3]:
# 2023034 - MAHMUT ZAHID MALKOC
import numpy as np
import pandas as pd
from pyjstat import pyjstat

# Building Permits - Annual Data BY EUROSTAT
# Building permits - m2 of useful floor area - Index, 2015=100
BuildingsPermits = pd.read_csv('BuildingsPermits.csv')

BuildingsPermits

,DATAFLOW,LAST UPDATE,freq,indic_bt,cpa2_1,s_adj,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1992,NaN,NaN
1,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1993,NaN,NaN
2,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1994,NaN,NaN
3,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1995,NaN,NaN
4,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Albania,1996,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1173,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2018,103.5,p
1174,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2019,96.5,p
1175,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2020,NaN,NaN
1176,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2021,NaN,NaN
1177,ESTAT:STS_COBP_A(1.0),13/05/2023 11:00,Annual,Building permits - m2 of useful floor area,Buildings,Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",United Kingdom,2022,NaN,NaN

In [4]:
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
BP = BuildingsPermits[['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Seçilen sütunları ekrana yazdır
BP

                 geo  TIME_PERIOD  OBS_VALUE
0            Albania         1992        NaN
1            Albania         1993        NaN
2            Albania         1994        NaN
3            Albania         1995        NaN
4            Albania         1996        NaN
...              ...          ...        ...
1173  United Kingdom         2018      103.5
1174  United Kingdom         2019       96.5
1175  United Kingdom         2020        NaN
1176  United Kingdom         2021        NaN
1177  United Kingdom         2022        NaN

[1178 rows x 3 columns]

In [5]:
# column names are changed
BP = BP.rename(columns={'geo': 'Country', 'TIME_PERIOD': 'Year', 'OBS_VALUE': 'Value'})
BP

             Country  Year  Value
0            Albania  1992    NaN
1            Albania  1993    NaN
2            Albania  1994    NaN
3            Albania  1995    NaN
4            Albania  1996    NaN
...              ...   ...    ...
1173  United Kingdom  2018  103.5
1174  United Kingdom  2019   96.5
1175  United Kingdom  2020    NaN
1176  United Kingdom  2021    NaN
1177  United Kingdom  2022    NaN

[1178 rows x 3 columns]

In [6]:
# Tüm ülkeleri seç
countries = BP['Country'].unique()

# Ülkeleri ekrana yazdır
print(countries)

['Albania' 'Austria' 'Bosnia and Herzegovina' 'Belgium' 'Bulgaria'
 'Cyprus' 'Czechia' 'Germany (until 1990 former territory of the FRG)'
 'Denmark' 'Euro area - 19 countries  (2015-2022)'
 'Euro area – 20 countries (from 2023)' 'Estonia' 'Greece' 'Spain'
 'European Union - 27 countries (from 2020)' 'Finland' 'France' 'Croatia'
 'Hungary' 'Ireland' 'Italy' 'Lithuania' 'Luxembourg' 'Latvia'
 'Montenegro' 'North Macedonia' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Serbia' 'Sweden' 'Slovenia' 'Slovakia' 'Türkiye'
 'United Kingdom']

In [7]:
# İlgili ülkeleri seç
countries = ['Türkiye', 'Ireland', 'United Kingdom', 'European Union - 27 countries (from 2020)','Euro area - 19 countries  (2015-2022)']
BP = BP[BP['Country'].isin(countries)]
BP

                                    Country  Year  Value
279   Euro area - 19 countries  (2015-2022)  1992    NaN
280   Euro area - 19 countries  (2015-2022)  1993    NaN
281   Euro area - 19 countries  (2015-2022)  1994    NaN
282   Euro area - 19 countries  (2015-2022)  1995    NaN
283   Euro area - 19 countries  (2015-2022)  1996    NaN
...                                     ...   ...    ...
1173                         United Kingdom  2018  103.5
1174                         United Kingdom  2019   96.5
1175                         United Kingdom  2020    NaN
1176                         United Kingdom  2021    NaN
1177                         United Kingdom  2022    NaN

[155 rows x 3 columns]

In [8]:
eu_data = BP[BP['Country'] == 'European Union - 27 countries (from 2020)']
eu_data = eu_data[['Year', 'Value']].set_index('Year').rename(columns={'Value': 'European Union'})
eu_data

      European Union
Year
1992             NaN
1993             NaN
1994             NaN
1995             NaN
1996             NaN
1997             NaN
1998             NaN
1999             NaN
2000             NaN
2001             NaN
2002             NaN
2003             NaN
2004             NaN
2005           263.6
2006           294.3
2007           275.9
2008           202.4
2009           146.9
2010           131.3
2011           129.2
2012           113.0
2013            99.1
2014            95.0
2015           100.0
2016           113.6
2017           123.6
2018           129.2
2019           128.8
2020           114.8
2021           133.5
2022           131.6

In [9]:
for country in countries:
    if country == 'European Union - 27 countries (from 2020)':
        continue
    country_data = BP[BP['Country'] == country][['Year', 'Value']].set_index('Year').rename(columns={'Value': country})
    eu_data = eu_data.merge(country_data, how='outer', left_index=True, right_index=True)
eu_data

,European Union,Türkiye,Ireland,United Kingdom,Euro area - 19 countries (2015-2022)
Year,,,,,
1992,NaN,42.6,NaN,NaN,NaN
1993,NaN,49.6,NaN,NaN,NaN
1994,NaN,47.6,NaN,NaN,NaN
1995,NaN,49.0,NaN,NaN,NaN
1996,NaN,45.9,NaN,NaN,NaN
1997,NaN,48.8,NaN,NaN,NaN
1998,NaN,46.1,NaN,118.9,NaN
1999,NaN,36.8,NaN,116.6,NaN
2000,NaN,36.1,394.0,114.1,NaN
2001,NaN,33.8,365.0,115.7,NaN
2002,NaN,21.5,322.4,113.4,NaN
2003,NaN,26.9,341.3,117.3,NaN
2004,NaN,40.7,429.6,125.6,NaN
2005,263.6,61.8,456.6,120.8,293.5
2006,294.3,71.0,436.3,120.6,326.3
2007,275.9,72.4,542.2,128.1,303.8
2008,202.4,57.8,377.8,103.6,217.2
2009,146.9,56.0,226.5,91.2,157.4
2010,131.3,97.5,110.5,87.1,138.9
2011,129.2,67.3,83.5,85.7,136.2
2012,113.0,86.2,61.3,88.8,118.8
2013,99.1,95.5,65.7,78.9,102.5
2014,95.0,119.3,61.3,90.5,96.2
2015,100.0,100.0,100.0,100.0,100.0
2016,113.6,107.1,115.9,102.1,112.6
2017,123.6,145.7,126.0,101.9,123.0
2018,129.2,79.0,162.6,103.5,129.4
2019,128.8,39.0,184.1,96.5,129.8
2020,114.8,59.0,181.8,NaN,113.6
2021,133.5,79.2,191.6,NaN,130.9
2022,131.6,71.6,158.9,NaN,131.3

In [51]:
# "Country" sütununda "Ireland" olan tüm satırları seç
Ireland_data = BP[BP['Country'] == 'Ireland']
Turkey_data = BP[BP['Country'] == 'Türkiye']
UK_data = BP[BP['Country'] == 'United Kingdom']
EU27_data = BP[BP['Country'] == 'European Union - 27 countries (from 2020)']
# "Ireland" verilerini ekrana yazdır
# Ireland_data
# Turkey_data
# UK_data
EU27_data

                                       Country  Year  Value
434  European Union - 27 countries (from 2020)  1992    NaN
435  European Union - 27 countries (from 2020)  1993    NaN
436  European Union - 27 countries (from 2020)  1994    NaN
437  European Union - 27 countries (from 2020)  1995    NaN
438  European Union - 27 countries (from 2020)  1996    NaN
439  European Union - 27 countries (from 2020)  1997    NaN
440  European Union - 27 countries (from 2020)  1998    NaN
441  European Union - 27 countries (from 2020)  1999    NaN
442  European Union - 27 countries (from 2020)  2000    NaN
443  European Union - 27 countries (from 2020)  2001    NaN
444  European Union - 27 countries (from 2020)  2002    NaN
445  European Union - 27 countries (from 2020)  2003    NaN
446  European Union - 27 countries (from 2020)  2004    NaN
447  European Union - 27 countries (from 2020)  2005  263.6
448  European Union - 27 countries (from 2020)  2006  294.3
449  European Union - 27 countries (from 2020)  2007  275.9
450  European Union - 27 countries (from 2020)  2008  202.4
451  European Union - 27 countries (from 2020)  2009  146.9
452  European Union - 27 countries (from 2020)  2010  131.3
453  European Union - 27 countries (from 2020)  2011  129.2
454  European Union - 27 countries (from 2020)  2012  113.0
455  European Union - 27 countries (from 2020)  2013   99.1
456  European Union - 27 countries (from 2020)  2014   95.0
457  European Union - 27 countries (from 2020)  2015  100.0
458  European Union - 27 countries (from 2020)  2016  113.6
459  European Union - 27 countries (from 2020)  2017  123.6
460  European Union - 27 countries (from 2020)  2018  129.2
461  European Union - 27 countries (from 2020)  2019  128.8
462  European Union - 27 countries (from 2020)  2020  114.8
463  European Union - 27 countries (from 2020)  2021  133.5
464  European Union - 27 countries (from 2020)  2022  131.6

In [37]:
# 2023034 - MAHMUT ZAHID MALKOC

import numpy as np
import pandas as pd
from pyjstat import pyjstat

# Construction Producer Prices or Costs, New Residential Buildings - Annual Data BY EUROSTAT
ConstructionProducePrice_URL = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/STS_COPI_A?format=JSON&lang=en&freq=A&indic_bt=CSTI&cpa2_1=CPA_F41001_X_410014&s_adj=NSA&unit=I15&geo=EU27_2020&geo=EA20&geo=EA19&geo=BE&geo=BG&geo=CZ&geo=DK&geo=DE&geo=EE&geo=IE&geo=EL&geo=ES&geo=FR&geo=HR&geo=IT&geo=CY&geo=LV&geo=LT&geo=LU&geo=HU&geo=MT&geo=NL&geo=AT&geo=PL&geo=PT&geo=RO&geo=SI&geo=SK&geo=FI&geo=SE&geo=NO&geo=CH&geo=UK&geo=BA&geo=ME&geo=MK&geo=AL&geo=TR&time=1954&time=1955&time=1956&time=1957&time=1958&time=1959&time=1960&time=1961&time=1962&time=1963&time=1964&time=1965&time=1966&time=1967&time=1968&time=1969&time=1970&time=1971&time=1972&time=1973&time=1974&time=1975&time=1976&time=1977&time=1978&time=1979&time=1980&time=1981&time=1982&time=1983&time=1984&time=1985&time=1986&time=1987&time=1988&time=1989&time=1990&time=1991&time=1992&time=1993&time=1994&time=1995&time=1996&time=1997&time=1998&time=1999&time=2000&time=2001&time=2002&time=2003&time=2004&time=2005&time=2006&time=2007&time=2008&time=2009&time=2010&time=2011&time=2012&time=2013&time=2014&time=2015&time=2016&time=2017&time=2018&time=2019&time=2020&time=2021&time=2022'

# read from json-stat
dataset = pyjstat.Dataset.read(ConstructionProducePrice_URL)

# write to dataframe
ConstructionProducePrice = dataset.write('dataframe')

# read from dataframe
dataset_from_ConstructionProducePrice = pyjstat.Dataset.read(ConstructionProducePrice)

ConstructionProducePrice

,Time frequency,Business trend indicator,Statistical Classification of Products by Activity (CPA 2.1),Seasonal adjustment,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1954,NaN
1,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1955,NaN
2,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1956,NaN
3,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1957,NaN
4,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",European Union - 27 countries (from 2020),1958,NaN
...,...,...,...,...,...,...,...,...
2617,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2018,161.4
2618,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2019,190.3
2619,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2020,214.8
2620,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2021,302.2
2621,Annual,Construction cost index - in national currency,"Residential buildings, except residences for c...",Unadjusted data (i.e. neither seasonally adjus...,"Index, 2015=100",Türkiye,2022,603.3

In [39]:
# "geo", "TIME_PERIOD" and "OBS_VALUE" are choosen
CPP = ConstructionProducePrice[['Geopolitical entity (reporting)', 'Time', 'value']]

# Seçilen sütunları ekrana yazdır
CPP

                Geopolitical entity (reporting)  Time  value
0     European Union - 27 countries (from 2020)  1954    NaN
1     European Union - 27 countries (from 2020)  1955    NaN
2     European Union - 27 countries (from 2020)  1956    NaN
3     European Union - 27 countries (from 2020)  1957    NaN
4     European Union - 27 countries (from 2020)  1958    NaN
...                                         ...   ...    ...
2617                                    Türkiye  2018  161.4
2618                                    Türkiye  2019  190.3
2619                                    Türkiye  2020  214.8
2620                                    Türkiye  2021  302.2
2621                                    Türkiye  2022  603.3

[2622 rows x 3 columns]

In [40]:
# column names are changed
CPP = CPP.rename(columns={'Geopolitical entity (reporting)': 'Country', 'Time': 'Year', 'value': 'Value'})
CPP

                                        Country  Year  Value
0     European Union - 27 countries (from 2020)  1954    NaN
1     European Union - 27 countries (from 2020)  1955    NaN
2     European Union - 27 countries (from 2020)  1956    NaN
3     European Union - 27 countries (from 2020)  1957    NaN
4     European Union - 27 countries (from 2020)  1958    NaN
...                                         ...   ...    ...
2617                                    Türkiye  2018  161.4
2618                                    Türkiye  2019  190.3
2619                                    Türkiye  2020  214.8
2620                                    Türkiye  2021  302.2
2621                                    Türkiye  2022  603.3

[2622 rows x 3 columns]